In [1]:
import pandas as pd

# цены на сырье

In [2]:
material_price = pd.read_excel("data/Цены на сырье.xlsx")
material_price

,dt,"Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС","Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т","Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС","ЖРС_Китай Iron ore fines Fe 62%, CFR","Чугун_CFR Италия, $/т","Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС","ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т",...,"Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС","Чугун_CFR Турция, $/т","ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС","ЖРС_Украинский концентрат Fe 65-68%, DAP граница Украины с Европой, $/т","ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой, $/т"
0,2015-02-09,3850,228,12344,10009,12728,62,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-02-16,3850,206,12271,10432,12852,63,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-23,3850,207,12645,11981,13034,64,NaN,3700.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-03-02,3850,214,12696,11912,12910,63,NaN,3700.0,72.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN
4,2015-03-09,4400,232,12916,12061,12964,61,NaN,4050.0,70.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2023-02-13,9500,399,25741,23774,24100,124,505.0,7500.0,136.5,...,22765.0,457.5,5043.0,4382.0,2577.0,50.0,66.0,78.0,116.0,154.0
419,2023-02-20,9500,390,25837,24060,24184,124,500.0,7500.0,137.5,...,23414.0,465.0,5043.0,4382.0,2577.0,50.0,66.0,78.0,116.0,154.0
420,2023-02-27,9500,411,25814,24275,24047,130,502.5,7500.0,143.0,...,24014.0,455.0,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0
421,2023-03-06,10000,422,25821,25347,24055,126,500.0,7500.0,139.0,...,24005.0,467.5,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0
422,2023-03-13,10000,426,26750,25313,25021,128,502.5,7500.0,141.0,...,24573.0,475.0,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0

In [3]:
columns = material_price.columns
columns.unique()

Index(['dt',
       'Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС',
       'Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т',
       'Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС',
       'ЖРС_Китай Iron ore fines Fe 62%, CFR', 'Чугун_CFR Италия, $/т',
       'Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС',
       'ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т',
       'Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, FOB США Восток, $/т',
       'Лом_3А, FOB РФ Черное море, $/т', 'Чугун_FOB Бразилия Север, $/т',
       'Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, CFR ЮВА, $/т',
       'Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС',
       'Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС',
       'ГБЖ_Россия, FCA руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС',
       'Чугун_FOB Бразилия Юг, $/т',
       'ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т',
       'Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС',
       'Чугун_FOB Россия Дальневосточные порты, $/т',
       'Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС',
       'Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС',
       'Чугун_FOB Россия Черное море, $/т',
       'Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС',
       'ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС',
       'ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС',
       'Чугун_Россия, FCA руб./т, без НДС',
       'Концентрат коксующегося угля_HCC Австралия, $/t FOB',
       'ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС',
       'ГБЖ_CFR Италия, $/т',
       'Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС',
       'Чугун_CFR Западная Европа, $/т',
       'Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, CFR Турция, $/т', 'Чугун_CFR Китай, $/т',
       'Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС',
       'Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС',
       'Чугун_CFR NOLA США, $/т',
       'Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС',
       'Чугун_CFR Турция, $/т',
       'ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС',
       'ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т',
       'ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т'],
      dtype='object')

In [4]:
for col in columns.unique():
    print(col)

dt
Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС
Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т
Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС
Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС
Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС
ЖРС_Китай Iron ore fines Fe 62%, CFR
Чугун_CFR Италия, $/т
Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС
ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т
Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС
Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС
Лом_HMS 1/2 80:20, FOB США Восток, $/т
Лом_3А, FOB РФ Черное море, $/т
Чугун_FOB Бразилия Север, $/т
Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС
Лом_HMS 1/2 80:20, CFR ЮВА, $/т
Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС
Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС
ГБЖ_Россия, FCA руб./т, без НДС
Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС
Чугун_FOB Бразилия Юг, $/т
ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т
Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС
Чугун_FOB Россия Дальневосточные порты, $/т
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС
Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС
Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС
Чугун_FOB Россия Черное море, $/т
Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС
ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС
ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС
Чугун_Россия, FCA руб./т, без НДС
Концентрат коксующегося угля_HCC Австралия, $/t FOB
ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС
ГБЖ_CFR Италия, $/т
Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС
Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС
Чугун_CFR Западная Европа, $/т
Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС
Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС
Лом_HMS 1/2 80:20, CFR Турция, $/т
Чугун_CFR Китай, $/т
Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС
Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС
Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС
Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС
Чугун_CFR NOLA США, $/т
Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС
Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС
Чугун_CFR Турция, $/т
ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС
ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т
ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т

### сделаем сплит на цены в рублях и в долларах

In [5]:
rub_price = [str(col) for col in material_price.columns.unique() if
             "руб./т" in str(col) or "руб./т." in str(col)]
rub_price.append("dt")
dollar_price = [str(col) for col in material_price.columns.unique() if
             r"$/т" in str(col) or r"$/t" in str(col)]
dollar_price.extend(["dt", "ЖРС_Китай Iron ore fines Fe 62%, CFR"])

print("total cols: ", material_price.shape[1])
print("rub prices + dt: ", len(rub_price))
print("dollar prices + dt: ", len(dollar_price))

total cols:  59
rub prices + dt:  38
dollar prices + dt:  22

## теперь работаем с категориями сырья

### сначала с рублями

In [6]:
raw_metals_category = [
    "Концентрат коксующего",
    "Лом",
    "ЖРС",
    "Чугун",
    "ГБЖ",
    "Кокс",
]

category_dict: dict[str] = {}
for cat in raw_metals_category:
    category_dict[cat] = list({str(col) for col in rub_price
                               if str(col).startswith(cat)})
    category_dict[cat].append("dt")
category_dict

{'Концентрат коксующего': ['Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС',
  'Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС',
  'dt'],
 'Лом': ['Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС',
  'Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС',
  'Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС',
  'Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС',
  'Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС',
  'Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС',
  'Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС',
  'Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС',
  'Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС',
  'Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС',
  'dt'],
 'ЖРС': ['ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС',
  'ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС',
  'ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС',
  'ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС',
  'dt'],
 'Чугун': ['Чугун_Россия, FCA руб./т, без НДС', 'dt'],
 'ГБЖ': ['ГБЖ_Россия, FCA руб./т, без НДС', 'dt'],
 'Кокс': ['Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС', 'dt']}

In [7]:
data_split: dict[str, pd.DataFrame] = {}
for cat, columns in category_dict.items():
    data_split[cat] = material_price[columns]

In [8]:
coil_concentrate = data_split.get(raw_metals_category[0])
coil = data_split.get(raw_metals_category[-1])
scrap = data_split.get(raw_metals_category[1])
iron_jrs = data_split.get(raw_metals_category[2])
iron_gbj = data_split.get(raw_metals_category[4])
cast_iron = data_split.get(raw_metals_category[3])

### coil concentrate

In [9]:
coil_concentrate

,"Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС","Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС",dt
0,4300,3300,3700.0,4700.0,3890,3850,4500,3350.0,2015-02-09
1,4300,3300,3700.0,4700.0,3890,3850,4500,3350.0,2015-02-16
2,4300,3300,3700.0,4700.0,3890,3850,4500,3350.0,2015-02-23
3,4300,3300,3700.0,4700.0,3890,3850,4500,3350.0,2015-03-02
4,4100,3750,4050.0,4700.0,4164,4400,4700,3525.0,2015-03-09
...,...,...,...,...,...,...,...,...,...
418,8850,7750,7500.0,10200.0,9010,9500,11250,7500.0,2023-02-13
419,8850,7750,7500.0,10200.0,9010,9500,11250,7500.0,2023-02-20
420,8850,7750,7500.0,10200.0,9010,9500,11250,7500.0,2023-02-27
421,8850,8000,7500.0,10200.0,9090,10000,11250,7500.0,2023-03-06
422,8850,8000,7500.0,10200.0,9090,10000,11250,7500.0,2023-03-13

In [10]:
coil_concentrate.isna().sum()

Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС                     0
Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС                       0
Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС                       0
Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС                        0
Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС                  0
Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС                       0
Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС    0
Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС                       0
dt                                                                                     0
dtype: int64

In [11]:
coil_concentrate_columns = coil_concentrate.columns.tolist()
coil_concentrate_columns.remove("dt")
coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] = 0
for col in coil_concentrate_columns:
    coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] += coil_concentrate[col]
coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] = coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] / len(coil_concentrate_columns)
coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"].describe()

/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3077744259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] = 0
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3077744259.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] += coil_concentrate[col]
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3077744259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] = coil_concentrate["Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"] / len(coil_concentrate_columns)

count      423.000000
mean      8071.204196
std       4063.457580
min       3948.750000
25%       4907.062500
50%       7571.250000
75%       9035.000000
max      21315.000000
Name: Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС, dtype: float64

In [12]:
coil_concentrate.describe()

,"Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС","Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС","Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС",Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС
count,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.00000,423.000000
mean,8595.449173,6372.754137,7163.416076,9256.117021,8143.510638,8615.898345,9842.494090,6579.99409,8071.204196
std,3809.586425,3231.973473,3693.588271,4686.072836,4028.410342,4488.050210,5335.121668,3544.56696,4063.457580
min,4100.000000,3225.000000,3700.000000,4400.000000,3890.000000,3850.000000,4500.000000,3300.00000,3948.750000
25%,5725.000000,3950.000000,4400.000000,5475.000000,4925.000000,5100.000000,5625.000000,4100.00000,4907.062500
50%,8375.000000,5850.000000,6450.000000,8450.000000,7620.000000,7750.000000,9300.000000,5850.00000,7571.250000
75%,9250.000000,7150.000000,7950.000000,10700.000000,9090.000000,9950.000000,11025.000000,6725.00000,9035.000000
max,21800.000000,16750.000000,19000.000000,24000.000000,21370.000000,22750.000000,26000.000000,19600.00000,21315.000000

In [13]:
coil_concentrate_out = coil_concentrate[["dt", "Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС"]]
coil_concentrate_out

            dt  Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС
0   2015-02-09                                           3948.750
1   2015-02-16                                           3948.750
2   2015-02-23                                           3948.750
3   2015-03-02                                           3948.750
4   2015-03-09                                           4173.625
..         ...                                                ...
418 2023-02-13                                           8945.000
419 2023-02-20                                           8945.000
420 2023-02-27                                           8945.000
421 2023-03-06                                           9048.750
422 2023-03-13                                           9048.750

[423 rows x 2 columns]

### кокс

In [14]:
coil = data_split.get(raw_metals_category[-1])
coil.isna().sum()

Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС    0
dt                                                   0
dtype: int64

### лом

In [15]:
scrap = data_split.get(raw_metals_category[1])

In [16]:
scrap

,"Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС","Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС","Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС","Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС","Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС","Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС","Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС","Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС","Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС","Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС","Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС","Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС","Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС","Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС","Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС",dt
0,NaN,12728,NaN,12344,NaN,NaN,11870,NaN,NaN,11598,NaN,NaN,10009,11573,NaN,NaN,NaN,2015-02-09
1,NaN,12852,NaN,12271,NaN,NaN,12088,NaN,NaN,11794,NaN,NaN,10432,11746,NaN,NaN,NaN,2015-02-16
2,NaN,13034,NaN,12645,NaN,NaN,12503,NaN,NaN,12047,NaN,NaN,11981,11930,NaN,NaN,NaN,2015-02-23
3,NaN,12910,NaN,12696,NaN,NaN,12439,NaN,NaN,12253,NaN,NaN,11912,12100,NaN,NaN,NaN,2015-03-02
4,NaN,12964,NaN,12916,NaN,NaN,12020,NaN,NaN,12183,NaN,NaN,12061,11774,NaN,NaN,NaN,2015-03-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,21844.0,24100,22600.0,25741,23160.0,19944.0,22058,23500.0,100000.0,24807,22050.0,20439.0,23774,22626,22765.0,19331.0,22009.0,2023-02-13
419,21703.0,24184,22550.0,25837,24038.0,20331.0,22134,24300.0,102000.0,25635,22050.0,21181.0,24060,23297,23414.0,21256.0,22716.0,2023-02-20
420,21665.0,24047,22400.0,25814,24193.0,20417.0,22039,23750.0,102000.0,26010,22050.0,21552.0,24275,23404,24014.0,21599.0,22608.0,2023-02-27
421,22054.0,24055,22450.0,25821,24310.0,21555.0,22056,24250.0,100000.0,26555,23500.0,21794.0,25347,24078,24005.0,22101.0,22618.0,2023-03-06
422,22832.0,25021,23350.0,26750,24926.0,21921.0,23004,24500.0,100000.0,27052,23900.0,22434.0,25313,24550,24573.0,22392.0,23093.0,2023-03-13

In [17]:
scrap.isna().sum()

Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС          413
Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС           0
Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС        361
Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС                 0
Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС        413
Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС        413
Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС        0
Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС          361
Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС    413
Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС             0
Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС              361
Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС                   413
Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС             0
Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС          0
Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС       413
Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС      413
Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС      413
dt                                                           0
dtype: int64

In [18]:
clean_scrap = scrap.dropna(axis=1)

In [19]:
clean_scrap.isna().sum()

Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС       0
Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС             0
Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС    0
Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС         0
Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС         0
Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС      0
dt                                                       0
dtype: int64

In [20]:
clean_scrap_columns = clean_scrap.columns.tolist()
clean_scrap_columns.remove("dt")
clean_scrap["Лом_3А_руб_т_без_НДС"] = 0
for col in clean_scrap_columns:
    clean_scrap["Лом_3А_руб_т_без_НДС"] += clean_scrap[col]
clean_scrap["Лом_3А_руб_т_без_НДС"] /= len(clean_scrap_columns)

/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3102507424.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_scrap["Лом_3А_руб_т_без_НДС"] = 0
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3102507424.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_scrap["Лом_3А_руб_т_без_НДС"] += clean_scrap[col]
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/3102507424.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_scrap["Лом_3А_руб_т_без_НДС"] /= len(clean_scrap_columns)

In [21]:
clean_scrap.describe()

,"Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС","Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС","Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС","Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС",Лом_3А_руб_т_без_НДС
count,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000
mean,17777.297872,18144.458629,16665.477541,17975.905437,16368.888889,16564.082742,17249.351852
std,5911.305094,6144.865688,5878.392479,6281.279057,5698.427962,6047.885700,5972.552918
min,9052.000000,9103.000000,7826.000000,8888.000000,8016.000000,7439.000000,8489.166667
25%,13218.000000,13531.000000,12237.500000,13198.500000,11803.000000,12212.500000,12667.416667
50%,16698.000000,16714.000000,15470.000000,16684.000000,15567.000000,15326.000000,16120.666667
75%,20097.500000,21056.000000,18678.000000,21242.500000,18977.500000,18921.000000,19794.333333
max,34263.000000,35186.000000,32619.000000,34466.000000,31137.000000,32402.000000,33330.666667

In [22]:
clean_scrap_out = clean_scrap[["dt", "Лом_3А_руб_т_без_НДС"]]
clean_scrap_out

            dt  Лом_3А_руб_т_без_НДС
0   2015-02-09          11687.000000
1   2015-02-16          11863.833333
2   2015-02-23          12356.666667
3   2015-03-02          12385.000000
4   2015-03-09          12319.666667
..         ...                   ...
418 2023-02-13          23851.000000
419 2023-02-20          24191.166667
420 2023-02-27          24264.833333
421 2023-03-06          24652.000000
422 2023-03-13          25281.666667

[423 rows x 2 columns]

### iron_jrs

In [23]:
iron_jrs = data_split.get(raw_metals_category[2])
iron_jrs.isna().sum()

ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС                               0
ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС    207
ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС                                 0
ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС           3
ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС         3
ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС                                 0
ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС        207
ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС          3
ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС         3
dt                                                                                 0
dtype: int64

In [58]:
clean_iron_jrc = iron_jrs.drop(["ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС",
                                "ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС",
                                "ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС"],
                                axis=1)
clean_iron_jrc.dropna(inplace=True)
clean_iron_jrc.isna().sum()

ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС                          0
ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС                            0
ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС      0
ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС                            0
ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС     0
ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС    0
dt                                                                            0
dtype: int64

In [59]:
clean_iron_jrc_columns = clean_iron_jrc.columns.tolist()
clean_iron_jrc_columns.remove("dt")
clean_iron_jrc["ЖРС_среднее_руб_т_без_НДС"] = 0
for col in clean_iron_jrc_columns:
    clean_iron_jrc["ЖРС_среднее_руб_т_без_НДС"] += clean_iron_jrc[col]
clean_iron_jrc["ЖРС_среднее_руб_т_без_НДС"] /= len(clean_iron_jrc_columns)

In [60]:
clean_iron_jrc.describe()

,"ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС","ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС","ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС","ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС","ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС",ЖРС_среднее_руб_т_без_НДС
count,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000,420.000000
mean,4534.660714,6355.970238,2540.230952,2620.488095,6237.488095,4541.047619,4471.647619
std,2492.370181,3471.686694,1150.619087,1152.728604,3416.338491,2526.936288,2310.364793
min,1650.000000,2525.000000,1049.000000,1130.000000,2456.000000,1751.000000,1774.333333
25%,2785.625000,3893.750000,1863.000000,1828.750000,3742.000000,2740.000000,2857.500000
50%,3950.000000,5100.000000,2470.000000,2600.000000,5035.000000,3889.000000,3835.000000
75%,5225.000000,7617.500000,3119.000000,3300.000000,7693.250000,5274.000000,5522.666667
max,12715.000000,17750.000000,6679.000000,6600.000000,17343.000000,12649.000000,11964.666667

In [61]:
clean_iron_jrc_out = clean_iron_jrc[["dt", "ЖРС_среднее_руб_т_без_НДС"]]
clean_iron_jrc_out

            dt  ЖРС_среднее_руб_т_без_НДС
3   2015-03-02                2324.666667
4   2015-03-09                2361.333333
5   2015-03-16                2361.333333
6   2015-03-23                2361.333333
7   2015-03-30                2410.000000
..         ...                        ...
418 2023-02-13                4227.416667
419 2023-02-20                4227.416667
420 2023-02-27                4454.750000
421 2023-03-06                4646.416667
422 2023-03-13                4646.416667

[420 rows x 2 columns]

### iron gbj

In [62]:
iron_gbj = data_split.get(raw_metals_category[4])
iron_gbj.isna().sum()

ГБЖ_Россия, FCA руб./т, без НДС    343
dt                                   0
dtype: int64

### ужас, удаляем к черту

### cast iron

In [63]:
cast_iron = data_split.get(raw_metals_category[3])
cast_iron.isna().sum()

Чугун_Россия, FCA руб./т, без НДС    0
dt                                   0
dtype: int64

### склеим и сохраним итоговый датасет для рублей

In [64]:
ruble_data = [coil_concentrate_out,
              coil,
              clean_scrap_out,
              clean_iron_jrc_out,
              cast_iron
              ]

In [65]:
for data in ruble_data:
    print("shape: ", data.shape)

shape:  (423, 2)
shape:  (423, 2)
shape:  (423, 2)
shape:  (420, 2)
shape:  (423, 2)

In [66]:
ruble_data[2::]

[            dt  Лом_3А_руб_т_без_НДС
 0   2015-02-09          11687.000000
 1   2015-02-16          11863.833333
 2   2015-02-23          12356.666667
 3   2015-03-02          12385.000000
 4   2015-03-09          12319.666667
 ..         ...                   ...
 418 2023-02-13          23851.000000
 419 2023-02-20          24191.166667
 420 2023-02-27          24264.833333
 421 2023-03-06          24652.000000
 422 2023-03-13          25281.666667

 [423 rows x 2 columns],
             dt  ЖРС_среднее_руб_т_без_НДС
 3   2015-03-02                2324.666667
 4   2015-03-09                2361.333333
 5   2015-03-16                2361.333333
 6   2015-03-23                2361.333333
 7   2015-03-30                2410.000000
 ..         ...                        ...
 418 2023-02-13                4227.416667
 419 2023-02-20                4227.416667
 420 2023-02-27                4454.750000
 421 2023-03-06                4646.416667
 422 2023-03-13                4646.416667

 [420 rows x 2 columns],
      Чугун_Россия, FCA руб./т, без НДС         dt
 0                                21250 2015-02-09
 1                                21250 2015-02-16
 2                                21250 2015-02-23
 3                                21250 2015-03-02
 4                                15250 2015-03-09
 ..                                 ...        ...
 418                              24000 2023-02-13
 419                              24000 2023-02-20
 420                              24000 2023-02-27
 421                              25500 2023-03-06
 422                              25500 2023-03-13

 [423 rows x 2 columns]]

In [67]:
ruble_data_out = ruble_data[0].merge(ruble_data[1], on="dt")
for data in ruble_data[2::]:
    ruble_data_out = ruble_data_out.merge(data, on="dt")

In [68]:
ruble_data_out

,dt,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС,ЖРС_среднее_руб_т_без_НДС,"Чугун_Россия, FCA руб./т, без НДС"
0,2015-03-02,3948.750,6900,12385.000000,2324.666667,21250
1,2015-03-09,4173.625,8750,12319.666667,2361.333333,15250
2,2015-03-16,4173.625,8750,12259.000000,2361.333333,15250
3,2015-03-23,4173.625,8750,12139.000000,2361.333333,15250
4,2015-03-30,4173.625,8750,12059.000000,2410.000000,15250
...,...,...,...,...,...,...
415,2023-02-13,8945.000,17500,23851.000000,4227.416667,24000
416,2023-02-20,8945.000,17500,24191.166667,4227.416667,24000
417,2023-02-27,8945.000,17500,24264.833333,4454.750000,24000
418,2023-03-06,9048.750,18750,24652.000000,4646.416667,25500
419,2023-03-13,9048.750,18750,25281.666667,4646.416667,25500

In [69]:
ruble_data_out.to_csv("data/material_price_ruble.csv", index=False)

## теперь то же самое, но с долларами

In [70]:
raw_metals_category = [
    "Концентрат коксующего",
    "Лом",
    "ЖРС",
    "Чугун",
    "ГБЖ",
    "Кокс",
]

category_dict: dict[str] = {}
for cat in raw_metals_category:
    category_dict[cat] = list({str(col) for col in dollar_price
                               if str(col).startswith(cat)})
    category_dict[cat].append("dt")
category_dict

{'Концентрат коксующего': ['Концентрат коксующегося угля_HCC Австралия, $/t FOB',
  'dt'],
 'Лом': ['Лом_HMS 1/2 80:20, CFR Турция, $/т',
  'Лом_3А, FOB РФ Черное море, $/т',
  'Лом_HMS 1/2 80:20, FOB США Восток, $/т',
  'Лом_HMS 1/2 80:20, CFR ЮВА, $/т',
  'Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т',
  'dt'],
 'ЖРС': ['ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т',
  'ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т',
  'ЖРС_Китай Iron ore fines Fe 62%, CFR',
  'ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т',
  'ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т',
  'dt'],
 'Чугун': ['Чугун_FOB Бразилия Север, $/т',
  'Чугун_CFR Италия, $/т',
  'Чугун_FOB Бразилия Юг, $/т',
  'Чугун_CFR Западная Европа, $/т',
  'Чугун_FOB Россия Черное море, $/т',
  'Чугун_CFR NOLA США, $/т',
  'Чугун_CFR Турция, $/т',
  'Чугун_CFR Китай, $/т',
  'Чугун_FOB Россия Дальневосточные порты, $/т',
  'dt'],
 'ГБЖ': ['ГБЖ_CFR Италия, $/т', 'dt'],
 'Кокс': ['dt']}

In [71]:
data_split: dict[str, pd.DataFrame] = {}
for cat, columns in category_dict.items():
    data_split[cat] = material_price[columns]

In [72]:
coil_concentrate = data_split.get(raw_metals_category[0])
coil_concentrate.isna().sum()

Концентрат коксующегося угля_HCC Австралия, $/t FOB    0
dt                                                     0
dtype: int64

In [73]:
coil = data_split.get(raw_metals_category[-1])
coil.isna().sum()

dt    0
dtype: int64

In [74]:
scrap = data_split.get(raw_metals_category[1])
scrap.isna().sum()

Лом_HMS 1/2 80:20, CFR Турция, $/т          0
Лом_3А, FOB РФ Черное море, $/т             0
Лом_HMS 1/2 80:20, FOB США Восток, $/т      0
Лом_HMS 1/2 80:20, CFR ЮВА, $/т             0
Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т    0
dt                                          0
dtype: int64

In [75]:
scrap_out = scrap.copy()
scrap_out_columns = scrap_out.columns.tolist()
scrap_out_columns.remove("dt")
scrap_out["Лом_среднее_доллар_т"] = 0
for col in scrap_out_columns:
    scrap_out["Лом_среднее_доллар_т"] += scrap_out[col]
scrap_out["Лом_среднее_доллар_т"] /= len(scrap_out_columns)
scrap_out.describe()

,"Лом_HMS 1/2 80:20, CFR Турция, $/т","Лом_3А, FOB РФ Черное море, $/т","Лом_HMS 1/2 80:20, FOB США Восток, $/т","Лом_HMS 1/2 80:20, CFR ЮВА, $/т","Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т",Лом_среднее_доллар_т
count,423.000000,423.000000,423.000000,423.000000,423.000000,423.000000
mean,327.004728,290.151300,305.352246,337.569740,299.574468,311.930496
std,95.281175,86.697277,88.324243,104.141966,87.248968,91.903664
min,170.000000,148.000000,158.000000,173.000000,153.000000,161.800000
25%,263.000000,232.500000,246.000000,265.000000,241.000000,249.500000
50%,301.000000,270.000000,286.000000,311.000000,277.000000,290.400000
75%,370.500000,324.500000,345.000000,395.000000,335.000000,353.100000
max,658.000000,588.000000,619.000000,658.000000,614.000000,624.800000

In [76]:
scrap_output = scrap_out[["dt", "Лом_среднее_доллар_т"]]
scrap_output

            dt  Лом_среднее_доллар_т
0   2015-02-09                 232.8
1   2015-02-16                 226.2
2   2015-02-23                 223.8
3   2015-03-02                 230.0
4   2015-03-09                 237.4
..         ...                   ...
418 2023-02-13                 409.0
419 2023-02-20                 401.2
420 2023-02-27                 418.2
421 2023-03-06                 427.8
422 2023-03-13                 432.8

[423 rows x 2 columns]

In [77]:
iron_jrs = data_split.get(raw_metals_category[2])
iron_jrs.isna().sum()

ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т                       0
ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т                               155
ЖРС_Китай Iron ore fines Fe 62%, CFR                                                                  0
ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т                           155
ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т      0
dt                                                                                                    0
dtype: int64

In [78]:
clean_iron_jrc = iron_jrs.dropna(axis=1)
clean_iron_jrc.isna().sum()

ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т                     0
ЖРС_Китай Iron ore fines Fe 62%, CFR                                                                0
ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т    0
dt                                                                                                  0
dtype: int64

In [79]:
clean_iron_jrc_columns = clean_iron_jrc.columns.tolist()
clean_iron_jrc_columns.remove("dt")
clean_iron_jrc["ЖРС_среднее_доллар_т"] = 0
for col in clean_iron_jrc_columns:
    clean_iron_jrc["ЖРС_среднее_доллар_т"] += clean_iron_jrc[col]
clean_iron_jrc["ЖРС_среднее_доллар_т"] /= len(clean_iron_jrc_columns)
clean_iron_jrc.describe()

/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/4215882523.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_iron_jrc["ЖРС_среднее_доллар_т"] = 0
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/4215882523.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_iron_jrc["ЖРС_среднее_доллар_т"] += clean_iron_jrc[col]
/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/4215882523.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_iron_jrc["ЖРС_среднее_доллар_т"] /= len(clean_iron_jrc_columns)

,"ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т","ЖРС_Китай Iron ore fines Fe 62%, CFR","ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т",ЖРС_среднее_доллар_т
count,423.000000,423.000000,423.000000,423.000000
mean,113.814421,93.075650,83.456265,96.782112
std,44.895262,38.819841,35.294494,38.941820
min,48.500000,39.000000,0.000000,41.666667
25%,86.500000,64.000000,59.000000,71.000000
50%,106.500000,84.000000,78.000000,89.166667
75%,126.000000,116.000000,99.750000,114.416667
max,260.000000,225.000000,200.000000,227.000000

In [80]:
clean_iron_jrc_out = clean_iron_jrc[["dt", "ЖРС_среднее_доллар_т"]]
clean_iron_jrc_out

            dt  ЖРС_среднее_доллар_т
0   2015-02-09             61.000000
1   2015-02-16             61.333333
2   2015-02-23             63.000000
3   2015-03-02             62.666667
4   2015-03-09             60.666667
..         ...                   ...
418 2023-02-13            124.666667
419 2023-02-20            125.000000
420 2023-02-27            130.833333
421 2023-03-06            126.833333
422 2023-03-13            128.833333

[423 rows x 2 columns]

In [81]:
iron_gbj = data_split.get(raw_metals_category[4])
iron_gbj.isna().sum()

ГБЖ_CFR Италия, $/т    121
dt                       0
dtype: int64

In [82]:
cast_iron = data_split.get(raw_metals_category[3])
cast_iron.isna().sum()

Чугун_FOB Бразилия Север, $/т                    0
Чугун_CFR Италия, $/т                          105
Чугун_FOB Бразилия Юг, $/т                     410
Чугун_CFR Западная Европа, $/т                 409
Чугун_FOB Россия Черное море, $/т                0
Чугун_CFR NOLA США, $/т                        105
Чугун_CFR Турция, $/т                          105
Чугун_CFR Китай, $/т                           244
Чугун_FOB Россия Дальневосточные порты, $/т    376
dt                                               0
dtype: int64

In [83]:
clean_cast_iron = cast_iron.drop([
    "Чугун_FOB Бразилия Юг, $/т",
    "Чугун_CFR Западная Европа, $/т",
    "Чугун_CFR Китай, $/т",
    "Чугун_FOB Россия Дальневосточные порты, $/т"
], axis=1)
clean_cast_iron.isna().sum()

Чугун_FOB Бразилия Север, $/т          0
Чугун_CFR Италия, $/т                105
Чугун_FOB Россия Черное море, $/т      0
Чугун_CFR NOLA США, $/т              105
Чугун_CFR Турция, $/т                105
dt                                     0
dtype: int64

In [94]:
clean_cast_iron.dropna(axis=1, inplace=True)

In [95]:
clean_cast_iron.isna().sum()

Чугун_FOB Бразилия Север, $/т        0
Чугун_FOB Россия Черное море, $/т    0
dt                                   0
dtype: int64

In [96]:
clean_cast_iron_columns = clean_cast_iron.columns.tolist()
clean_cast_iron_columns.remove("dt")
clean_cast_iron["Чугун_среднее_доллар_т"] = 0
for col in clean_cast_iron_columns:
    clean_cast_iron["Чугун_среднее_доллар_т"] += clean_cast_iron[col]
clean_cast_iron["Чугун_среднее_доллар_т"] /= len(clean_cast_iron_columns)
clean_cast_iron.describe()

,"Чугун_FOB Бразилия Север, $/т","Чугун_FOB Россия Черное море, $/т",Чугун_среднее_доллар_т
count,423.000000,423.000000,423.000000
mean,378.699764,366.529551,372.614657
std,137.965214,112.073915,122.519818
min,181.000000,175.000000,181.500000
25%,290.000000,300.000000,293.750000
50%,347.000000,350.000000,350.000000
75%,455.000000,395.000000,416.750000
max,960.000000,780.000000,870.000000

In [97]:
clean_cast_iron_out = clean_cast_iron[["dt", "Чугун_среднее_доллар_т"]]
clean_cast_iron_out

            dt  Чугун_среднее_доллар_т
0   2015-02-09                   317.5
1   2015-02-16                   293.0
2   2015-02-23                   280.0
3   2015-03-02                   280.0
4   2015-03-09                   270.0
..         ...                     ...
418 2023-02-13                   457.5
419 2023-02-20                   464.0
420 2023-02-27                   466.5
421 2023-03-06                   475.0
422 2023-03-13                   491.0

[423 rows x 2 columns]

In [100]:
dollar_data = [
    coil_concentrate,
    scrap_output,
    clean_iron_jrc_out,
    clean_cast_iron_out
]

In [101]:
for data in dollar_data:
    print("shape: ", data.shape)

shape:  (423, 2)
shape:  (423, 2)
shape:  (423, 2)
shape:  (423, 2)

In [102]:
dollar_data_out = dollar_data[0].merge(dollar_data[1], on="dt")
for data in ruble_data[2::]:
    dollar_data_out = dollar_data_out.merge(data, on="dt")
dollar_data_out

,"Концентрат коксующегося угля_HCC Австралия, $/t FOB",dt,Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС,ЖРС_среднее_руб_т_без_НДС,"Чугун_Россия, FCA руб./т, без НДС"
0,103,2015-03-02,230.0,12385.000000,2324.666667,21250
1,103,2015-03-09,237.4,12319.666667,2361.333333,15250
2,102,2015-03-16,237.4,12259.000000,2361.333333,15250
3,101,2015-03-23,237.4,12139.000000,2361.333333,15250
4,98,2015-03-30,239.0,12059.000000,2410.000000,15250
...,...,...,...,...,...,...
415,352,2023-02-13,409.0,23851.000000,4227.416667,24000
416,367,2023-02-20,401.2,24191.166667,4227.416667,24000
417,362,2023-02-27,418.2,24264.833333,4454.750000,24000
418,348,2023-03-06,427.8,24652.000000,4646.416667,25500
419,354,2023-03-13,432.8,25281.666667,4646.416667,25500

In [103]:
dollar_data_out.to_csv("data/material_price_dollar.csv", index=False)

# dollar_exchange

In [104]:
train = pd.read_excel("data/train.xlsx")
train

            dt  Цена на арматуру
0   2015-01-05             32900
1   2015-01-12             32500
2   2015-01-19             32000
3   2015-01-26             30700
4   2015-02-02             30300
..         ...               ...
395 2022-08-01             47500
396 2022-08-08             49000
397 2022-08-15             47500
398 2022-08-22             46500
399 2022-08-29             46000

[400 rows x 2 columns]

In [105]:
train_merge_ruble = train.merge(ruble_data_out, on="dt")
train_merge_ruble

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС,ЖРС_среднее_руб_т_без_НДС,"Чугун_Россия, FCA руб./т, без НДС"
0,2015-03-02,29200,3948.750,6900,12385.000000,2324.666667,21250
1,2015-03-09,29000,4173.625,8750,12319.666667,2361.333333,15250
2,2015-03-16,28700,4173.625,8750,12259.000000,2361.333333,15250
3,2015-03-23,27800,4173.625,8750,12139.000000,2361.333333,15250
4,2015-03-30,27200,4173.625,8750,12059.000000,2410.000000,15250
...,...,...,...,...,...,...,...
387,2022-08-01,47500,8598.750,18000,20769.000000,3361.000000,29900
388,2022-08-08,49000,7776.250,14500,23051.666667,3319.333333,23250
389,2022-08-15,47500,7776.250,14500,23503.833333,3319.333333,23250
390,2022-08-22,46500,7776.250,14500,23630.666667,3319.333333,23250
391,2022-08-29,46000,7776.250,14500,23466.166667,3308.666667,23250

In [106]:
train_merge_ruble.isna().sum()

dt                                                           0
Цена на арматуру                                             0
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС    0
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС            0
Лом_3А_руб_т_без_НДС                                         0
ЖРС_среднее_руб_т_без_НДС                                    0
Чугун_Россия, FCA руб./т, без НДС                            0
dtype: int64

In [107]:
train_merge_dollar = train_merge_ruble.merge(dollar_data_out, on="dt")
train_merge_dollar

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y"
0,2015-03-02,29200,3948.750,6900,12385.000000,2324.666667,21250,103,230.0,12385.000000,2324.666667,21250
1,2015-03-09,29000,4173.625,8750,12319.666667,2361.333333,15250,103,237.4,12319.666667,2361.333333,15250
2,2015-03-16,28700,4173.625,8750,12259.000000,2361.333333,15250,102,237.4,12259.000000,2361.333333,15250
3,2015-03-23,27800,4173.625,8750,12139.000000,2361.333333,15250,101,237.4,12139.000000,2361.333333,15250
4,2015-03-30,27200,4173.625,8750,12059.000000,2410.000000,15250,98,239.0,12059.000000,2410.000000,15250
...,...,...,...,...,...,...,...,...,...,...,...,...
387,2022-08-01,47500,8598.750,18000,20769.000000,3361.000000,29900,227,336.2,20769.000000,3361.000000,29900
388,2022-08-08,49000,7776.250,14500,23051.666667,3319.333333,23250,220,338.2,23051.666667,3319.333333,23250
389,2022-08-15,47500,7776.250,14500,23503.833333,3319.333333,23250,238,369.8,23503.833333,3319.333333,23250
390,2022-08-22,46500,7776.250,14500,23630.666667,3319.333333,23250,264,374.6,23630.666667,3319.333333,23250
391,2022-08-29,46000,7776.250,14500,23466.166667,3308.666667,23250,270,382.0,23466.166667,3308.666667,23250

In [108]:
train_merge_dollar.isna().sum()

dt                                                           0
Цена на арматуру                                             0
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС    0
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС            0
Лом_3А_руб_т_без_НДС_x                                       0
ЖРС_среднее_руб_т_без_НДС_x                                  0
Чугун_Россия, FCA руб./т, без НДС_x                          0
Концентрат коксующегося угля_HCC Австралия, $/t FOB          0
Лом_среднее_доллар_т                                         0
Лом_3А_руб_т_без_НДС_y                                       0
ЖРС_среднее_руб_т_без_НДС_y                                  0
Чугун_Россия, FCA руб./т, без НДС_y                          0
dtype: int64

In [109]:
transport = pd.read_excel("data/Грузоперевозки.xlsx")

In [114]:
transport[transport["dt"].isin(train_merge_dollar["dt"])]

Empty DataFrame
Columns: [dt, Индекс стоимости грузоперевозок]
Index: []

In [115]:
train_merge_dollar

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y"
0,2015-03-02,29200,3948.750,6900,12385.000000,2324.666667,21250,103,230.0,12385.000000,2324.666667,21250
1,2015-03-09,29000,4173.625,8750,12319.666667,2361.333333,15250,103,237.4,12319.666667,2361.333333,15250
2,2015-03-16,28700,4173.625,8750,12259.000000,2361.333333,15250,102,237.4,12259.000000,2361.333333,15250
3,2015-03-23,27800,4173.625,8750,12139.000000,2361.333333,15250,101,237.4,12139.000000,2361.333333,15250
4,2015-03-30,27200,4173.625,8750,12059.000000,2410.000000,15250,98,239.0,12059.000000,2410.000000,15250
...,...,...,...,...,...,...,...,...,...,...,...,...
387,2022-08-01,47500,8598.750,18000,20769.000000,3361.000000,29900,227,336.2,20769.000000,3361.000000,29900
388,2022-08-08,49000,7776.250,14500,23051.666667,3319.333333,23250,220,338.2,23051.666667,3319.333333,23250
389,2022-08-15,47500,7776.250,14500,23503.833333,3319.333333,23250,238,369.8,23503.833333,3319.333333,23250
390,2022-08-22,46500,7776.250,14500,23630.666667,3319.333333,23250,264,374.6,23630.666667,3319.333333,23250
391,2022-08-29,46000,7776.250,14500,23466.166667,3308.666667,23250,270,382.0,23466.166667,3308.666667,23250

In [116]:
train_merge_dollar.to_csv("data/train_refactored_tables.csv", index=False)

In [117]:
test = pd.read_excel("data/test.xlsx")
test

           dt  Цена на арматуру
0  2022-09-05             46000
1  2022-09-12             46000
2  2022-09-19             46000
3  2022-09-26             45500
4  2022-10-03             45500
5  2022-10-10             45000
6  2022-10-17             44000
7  2022-10-24             43000
8  2022-10-31             42000
9  2022-11-07             41500
10 2022-11-14             41000
11 2022-11-21             40000
12 2022-11-28             40000
13 2022-12-05             40500
14 2022-12-12             41700
15 2022-12-19             41700
16 2022-12-26             42500
17 2023-01-02             42700
18 2023-01-09             42700
19 2023-01-16             42700
20 2023-01-23             42800
21 2023-01-30             42800
22 2023-02-06             44500
23 2023-02-13             44500
24 2023-02-20             46000
25 2023-02-27             49200
26 2023-03-06             53700
27 2023-03-13             55500

In [119]:
test_merge_rubble = test.merge(ruble_data_out, on="dt")
test_merge_rubble

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС,ЖРС_среднее_руб_т_без_НДС,"Чугун_Россия, FCA руб./т, без НДС"
0,2022-09-05,46000,7742.500,14500,22916.666667,3467.000000,23350
1,2022-09-12,46000,7742.500,14500,22674.000000,3467.000000,23350
2,2022-09-19,46000,7742.500,14500,22491.666667,3467.000000,23350
3,2022-09-26,45500,7742.500,14500,22425.500000,3669.166667,23350
4,2022-10-03,45500,7742.500,14500,22357.833333,3669.166667,23350
5,2022-10-10,45000,7571.250,14500,22367.000000,3796.666667,22000
6,2022-10-17,44000,7571.250,14500,22282.833333,3796.666667,22000
7,2022-10-24,43000,7571.250,14500,22433.333333,3796.666667,22000
8,2022-10-31,42000,7571.250,14500,22114.500000,3899.666667,22000
9,2022-11-07,41500,7677.500,15000,21386.500000,3905.500000,22500
10,2022-11-14,41000,7677.500,15000,20241.000000,3905.500000,22500
11,2022-11-21,40000,7677.500,15000,19953.833333,3905.500000,22500
12,2022-11-28,40000,7677.500,15000,19597.500000,3911.333333,22500
13,2022-12-05,40500,7785.625,15000,19091.833333,3911.333333,21000
14,2022-12-12,41700,7785.625,15000,18665.333333,3911.333333,21000
15,2022-12-19,41700,7785.625,15000,18576.500000,3911.333333,21000
16,2022-12-26,42500,7785.625,15000,18528.166667,3910.166667,21000
17,2023-01-02,42700,7785.625,15000,18500.666667,3910.166667,21000
18,2023-01-09,42700,8623.750,14400,19181.333333,3939.333333,22500
19,2023-01-16,42700,8623.750,14400,19743.000000,3939.333333,22500
20,2023-01-23,42800,8623.750,14400,20703.000000,3939.333333,22500
21,2023-01-30,42800,8623.750,14400,22194.333333,3983.666667,22500
22,2023-02-06,44500,8945.000,17500,23098.666667,4227.416667,24000
23,2023-02-13,44500,8945.000,17500,23851.000000,4227.416667,24000
24,2023-02-20,46000,8945.000,17500,24191.166667,4227.416667,24000
25,2023-02-27,49200,8945.000,17500,24264.833333,4454.750000,24000
26,2023-03-06,53700,9048.750,18750,24652.000000,4646.416667,25500
27,2023-03-13,55500,9048.750,18750,25281.666667,4646.416667,25500

In [120]:
test_merge_dollar = test_merge_rubble.merge(dollar_data_out, on="dt")
test_merge_dollar

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y"
0,2022-09-05,46000,7742.500,14500,22916.666667,3467.000000,23350,270,382.8,22916.666667,3467.000000,23350
1,2022-09-12,46000,7742.500,14500,22674.000000,3467.000000,23350,272,359.4,22674.000000,3467.000000,23350
2,2022-09-19,46000,7742.500,14500,22491.666667,3467.000000,23350,267,336.6,22491.666667,3467.000000,23350
3,2022-09-26,45500,7742.500,14500,22425.500000,3669.166667,23350,264,333.2,22425.500000,3669.166667,23350
4,2022-10-03,45500,7742.500,14500,22357.833333,3669.166667,23350,273,348.6,22357.833333,3669.166667,23350
5,2022-10-10,45000,7571.250,14500,22367.000000,3796.666667,22000,278,352.0,22367.000000,3796.666667,22000
6,2022-10-17,44000,7571.250,14500,22282.833333,3796.666667,22000,285,351.2,22282.833333,3796.666667,22000
7,2022-10-24,43000,7571.250,14500,22433.333333,3796.666667,22000,293,345.8,22433.333333,3796.666667,22000
8,2022-10-31,42000,7571.250,14500,22114.500000,3899.666667,22000,300,341.0,22114.500000,3899.666667,22000
9,2022-11-07,41500,7677.500,15000,21386.500000,3905.500000,22500,306,329.2,21386.500000,3905.500000,22500
10,2022-11-14,41000,7677.500,15000,20241.000000,3905.500000,22500,305,320.2,20241.000000,3905.500000,22500
11,2022-11-21,40000,7677.500,15000,19953.833333,3905.500000,22500,280,314.4,19953.833333,3905.500000,22500
12,2022-11-28,40000,7677.500,15000,19597.500000,3911.333333,22500,259,318.6,19597.500000,3911.333333,22500
13,2022-12-05,40500,7785.625,15000,19091.833333,3911.333333,21000,259,338.6,19091.833333,3911.333333,21000
14,2022-12-12,41700,7785.625,15000,18665.333333,3911.333333,21000,264,353.4,18665.333333,3911.333333,21000
15,2022-12-19,41700,7785.625,15000,18576.500000,3911.333333,21000,266,363.6,18576.500000,3911.333333,21000
16,2022-12-26,42500,7785.625,15000,18528.166667,3910.166667,21000,279,361.6,18528.166667,3910.166667,21000
17,2023-01-02,42700,7785.625,15000,18500.666667,3910.166667,21000,292,370.4,18500.666667,3910.166667,21000
18,2023-01-09,42700,8623.750,14400,19181.333333,3939.333333,22500,303,384.6,19181.333333,3939.333333,22500
19,2023-01-16,42700,8623.750,14400,19743.000000,3939.333333,22500,306,394.4,19743.000000,3939.333333,22500
20,2023-01-23,42800,8623.750,14400,20703.000000,3939.333333,22500,315,388.8,20703.000000,3939.333333,22500
21,2023-01-30,42800,8623.750,14400,22194.333333,3983.666667,22500,322,393.6,22194.333333,3983.666667,22500
22,2023-02-06,44500,8945.000,17500,23098.666667,4227.416667,24000,335,403.4,23098.666667,4227.416667,24000
23,2023-02-13,44500,8945.000,17500,23851.000000,4227.416667,24000,352,409.0,23851.000000,4227.416667,24000
24,2023-02-20,46000,8945.000,17500,24191.166667,4227.416667,24000,367,401.2,24191.166667,4227.416667,24000
25,2023-02-27,49200,8945.000,17500,24264.833333,4454.750000,24000,362,418.2,24264.833333,4454.750000,24000
26,2023-03-06,53700,9048.750,18750,24652.000000,4646.416667,25500,348,427.8,24652.000000,4646.416667,25500
27,2023-03-13,55500,9048.750,18750,25281.666667,4646.416667,25500,354,432.8,25281.666667,4646.416667,25500

In [121]:
test_merge_dollar.isna().sum()

dt                                                           0
Цена на арматуру                                             0
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС    0
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС            0
Лом_3А_руб_т_без_НДС_x                                       0
ЖРС_среднее_руб_т_без_НДС_x                                  0
Чугун_Россия, FCA руб./т, без НДС_x                          0
Концентрат коксующегося угля_HCC Австралия, $/t FOB          0
Лом_среднее_доллар_т                                         0
Лом_3А_руб_т_без_НДС_y                                       0
ЖРС_среднее_руб_т_без_НДС_y                                  0
Чугун_Россия, FCA руб./т, без НДС_y                          0
dtype: int64

In [122]:
test_merge_dollar.to_csv("data/test_refactored_tables.csv", index=False)

In [123]:
train_corr = train_merge_dollar.drop("dt", axis=1).corr()
test_corr = test_merge_dollar.drop("dt", axis=1).corr()

In [125]:
train_corr

,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y"
Цена на арматуру,1.000000,0.686974,0.788093,0.935781,0.861716,0.925377,0.657814,0.904231,0.935781,0.861716,0.925377
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,0.686974,1.000000,0.944778,0.698357,0.542940,0.776469,0.912136,0.762710,0.698357,0.542940,0.776469
"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",0.788093,0.944778,1.000000,0.786732,0.664406,0.867222,0.871862,0.825635,0.786732,0.664406,0.867222
Лом_3А_руб_т_без_НДС_x,0.935781,0.698357,0.786732,1.000000,0.877222,0.939736,0.672849,0.912216,1.000000,0.877222,0.939736
ЖРС_среднее_руб_т_без_НДС_x,0.861716,0.542940,0.664406,0.877222,1.000000,0.897611,0.528765,0.790751,0.877222,1.000000,0.897611
"Чугун_Россия, FCA руб./т, без НДС_x",0.925377,0.776469,0.867222,0.939736,0.897611,1.000000,0.741762,0.909256,0.939736,0.897611,1.000000
"Концентрат коксующегося угля_HCC Австралия, $/t FOB",0.657814,0.912136,0.871862,0.672849,0.528765,0.741762,1.000000,0.752221,0.672849,0.528765,0.741762
Лом_среднее_доллар_т,0.904231,0.762710,0.825635,0.912216,0.790751,0.909256,0.752221,1.000000,0.912216,0.790751,0.909256
Лом_3А_руб_т_без_НДС_y,0.935781,0.698357,0.786732,1.000000,0.877222,0.939736,0.672849,0.912216,1.000000,0.877222,0.939736
ЖРС_среднее_руб_т_без_НДС_y,0.861716,0.542940,0.664406,0.877222,1.000000,0.897611,0.528765,0.790751,0.877222,1.000000,0.897611
"Чугун_Россия, FCA руб./т, без НДС_y",0.925377,0.776469,0.867222,0.939736,0.897611,1.000000,0.741762,0.909256,0.939736,0.897611,1.000000

In [126]:
chmf_shares = pd.read_csv("data_processing/chmf_shares.csv")
chmf_shares

            Date   Price    Open    High     Low    Vol.  Change %
0     03/31/2023  1043.2  1061.0  1061.0  1042.0  571.72     -1.68
1     03/30/2023  1061.0  1074.6  1084.8  1058.0    1.30     -1.27
2     03/29/2023  1074.6  1040.6  1078.4  1035.4    1.79      3.53
3     03/28/2023  1038.0  1041.4  1044.0  1033.0  269.09     -0.17
4     03/27/2023  1039.8  1036.2  1042.6  1032.2  410.74      0.50
...          ...     ...     ...     ...     ...     ...       ...
1048  01/10/2019   970.0   972.5   973.4   958.6  725.45     -0.27
1049  01/09/2019   972.6   953.1   973.5   950.0    1.03      2.09
1050  01/08/2019   952.7   952.0   960.0   941.3  565.63      0.32
1051  01/04/2019   949.7   934.0   949.7   931.1  335.53      1.66
1052  01/03/2019   934.2   940.0   942.6   926.3  601.71     -0.92

[1053 rows x 7 columns]

In [130]:
chmf_rename = {
    "Vol.": "chmf_vol",
    "Change %": "chmf_change",
    "Date": "dt"
}

In [132]:
chmf_shares_renamed = chmf_shares.rename(columns=chmf_rename)
chmf_shares_renamed = chmf_shares_renamed[["chmf_change", "chmf_vol", "dt"]]
chmf_shares_renamed

      chmf_change  chmf_vol          dt
0           -1.68    571.72  03/31/2023
1           -1.27      1.30  03/30/2023
2            3.53      1.79  03/29/2023
3           -0.17    269.09  03/28/2023
4            0.50    410.74  03/27/2023
...           ...       ...         ...
1048        -0.27    725.45  01/10/2019
1049         2.09      1.03  01/09/2019
1050         0.32    565.63  01/08/2019
1051         1.66    335.53  01/04/2019
1052        -0.92    601.71  01/03/2019

[1053 rows x 3 columns]

In [133]:
chmf_shares_renamed["dt"] = pd.to_datetime(chmf_shares_renamed["dt"])
chmf_shares_renamed

      chmf_change  chmf_vol         dt
0           -1.68    571.72 2023-03-31
1           -1.27      1.30 2023-03-30
2            3.53      1.79 2023-03-29
3           -0.17    269.09 2023-03-28
4            0.50    410.74 2023-03-27
...           ...       ...        ...
1048        -0.27    725.45 2019-01-10
1049         2.09      1.03 2019-01-09
1050         0.32    565.63 2019-01-08
1051         1.66    335.53 2019-01-04
1052        -0.92    601.71 2019-01-03

[1053 rows x 3 columns]

In [135]:
train_merge_chmf = train_merge_dollar.merge(chmf_shares_renamed, on="dt", how="left")
train_merge_chmf

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y",chmf_change,chmf_vol
0,2015-03-02,29200,3948.750,6900,12385.000000,2324.666667,21250,103,230.0,12385.000000,2324.666667,21250,NaN,NaN
1,2015-03-09,29000,4173.625,8750,12319.666667,2361.333333,15250,103,237.4,12319.666667,2361.333333,15250,NaN,NaN
2,2015-03-16,28700,4173.625,8750,12259.000000,2361.333333,15250,102,237.4,12259.000000,2361.333333,15250,NaN,NaN
3,2015-03-23,27800,4173.625,8750,12139.000000,2361.333333,15250,101,237.4,12139.000000,2361.333333,15250,NaN,NaN
4,2015-03-30,27200,4173.625,8750,12059.000000,2410.000000,15250,98,239.0,12059.000000,2410.000000,15250,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,2022-08-01,47500,8598.750,18000,20769.000000,3361.000000,29900,227,336.2,20769.000000,3361.000000,29900,-0.25,1.07
388,2022-08-08,49000,7776.250,14500,23051.666667,3319.333333,23250,220,338.2,23051.666667,3319.333333,23250,0.53,529.46
389,2022-08-15,47500,7776.250,14500,23503.833333,3319.333333,23250,238,369.8,23503.833333,3319.333333,23250,1.17,422.71
390,2022-08-22,46500,7776.250,14500,23630.666667,3319.333333,23250,264,374.6,23630.666667,3319.333333,23250,0.65,255.55
391,2022-08-29,46000,7776.250,14500,23466.166667,3308.666667,23250,270,382.0,23466.166667,3308.666667,23250,3.70,758.04

In [136]:
train_merge_chmf.isna().sum()

dt                                                             0
Цена на арматуру                                               0
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС      0
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС              0
Лом_3А_руб_т_без_НДС_x                                         0
ЖРС_среднее_руб_т_без_НДС_x                                    0
Чугун_Россия, FCA руб./т, без НДС_x                            0
Концентрат коксующегося угля_HCC Австралия, $/t FOB            0
Лом_среднее_доллар_т                                           0
Лом_3А_руб_т_без_НДС_y                                         0
ЖРС_среднее_руб_т_без_НДС_y                                    0
Чугун_Россия, FCA руб./т, без НДС_y                            0
chmf_change                                                  215
chmf_vol                                                     215
dtype: int64

In [137]:
magn_shares = pd.read_csv("data_processing/MAGN_shares.csv")

In [139]:
magn_rename = {
    "Vol.": "magn_vol",
    "Change %": "magn_change",
    "Date": "dt"
}
magn_shares_renamed = magn_shares.rename(columns=magn_rename)
magn_shares_renamed["dt"] = pd.to_datetime(magn_shares_renamed["dt"])
magn_shares_renamed = magn_shares_renamed[["magn_change", "magn_vol", "dt"]]
train_merge_magn = train_merge_chmf.merge(magn_shares_renamed, on="dt", how="left")
train_merge_magn

/var/folders/w0/7pl8bw_97tv676fpb5jcz6kh0000gn/T/ipykernel_8883/1758596991.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  magn_shares_renamed["dt"] = pd.to_datetime(magn_shares_renamed["dt"])

,dt,Цена на арматуру,Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС,"Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС",Лом_3А_руб_т_без_НДС_x,ЖРС_среднее_руб_т_без_НДС_x,"Чугун_Россия, FCA руб./т, без НДС_x","Концентрат коксующегося угля_HCC Австралия, $/t FOB",Лом_среднее_доллар_т,Лом_3А_руб_т_без_НДС_y,ЖРС_среднее_руб_т_без_НДС_y,"Чугун_Россия, FCA руб./т, без НДС_y",chmf_change,chmf_vol,magn_change,magn_vol
0,2015-03-02,29200,3948.750,6900,12385.000000,2324.666667,21250,103,230.0,12385.000000,2324.666667,21250,NaN,NaN,NaN,NaN
1,2015-03-09,29000,4173.625,8750,12319.666667,2361.333333,15250,103,237.4,12319.666667,2361.333333,15250,NaN,NaN,NaN,NaN
2,2015-03-16,28700,4173.625,8750,12259.000000,2361.333333,15250,102,237.4,12259.000000,2361.333333,15250,NaN,NaN,NaN,NaN
3,2015-03-23,27800,4173.625,8750,12139.000000,2361.333333,15250,101,237.4,12139.000000,2361.333333,15250,NaN,NaN,NaN,NaN
4,2015-03-30,27200,4173.625,8750,12059.000000,2410.000000,15250,98,239.0,12059.000000,2410.000000,15250,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,2022-08-01,47500,8598.750,18000,20769.000000,3361.000000,29900,227,336.2,20769.000000,3361.000000,29900,-0.25,1.07,NaN,NaN
388,2022-08-08,49000,7776.250,14500,23051.666667,3319.333333,23250,220,338.2,23051.666667,3319.333333,23250,0.53,529.46,1.49,20.11
389,2022-08-15,47500,7776.250,14500,23503.833333,3319.333333,23250,238,369.8,23503.833333,3319.333333,23250,1.17,422.71,3.62,29.91
390,2022-08-22,46500,7776.250,14500,23630.666667,3319.333333,23250,264,374.6,23630.666667,3319.333333,23250,0.65,255.55,-0.37,11.87
391,2022-08-29,46000,7776.250,14500,23466.166667,3308.666667,23250,270,382.0,23466.166667,3308.666667,23250,3.70,758.04,3.23,18.31

In [140]:
train_merge_magn.isna().sum()

dt                                                             0
Цена на арматуру                                               0
Концентрат_коксующегося_угля_Россия_среднее_руб_т_без_НДС      0
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС              0
Лом_3А_руб_т_без_НДС_x                                         0
ЖРС_среднее_руб_т_без_НДС_x                                    0
Чугун_Россия, FCA руб./т, без НДС_x                            0
Концентрат коксующегося угля_HCC Австралия, $/t FOB            0
Лом_среднее_доллар_т                                           0
Лом_3А_руб_т_без_НДС_y                                         0
ЖРС_среднее_руб_т_без_НДС_y                                    0
Чугун_Россия, FCA руб./т, без НДС_y                            0
chmf_change                                                  215
chmf_vol                                                     215
magn_change                                                  230
magn_vol                                                     230
dtype: int64

### топливо

In [25]:
fuel = pd.read_excel("data/Топливо.xlsx")
fuel

           dt  Цена на бензин  Цена на дт
0  2017-02-28           35.91       36.15
1  2017-03-31           36.11       36.58
2  2017-04-30           36.41       36.69
3  2017-05-31           36.64       36.80
4  2017-06-30           36.91       36.87
..        ...             ...         ...
71 2023-01-31           51.65       56.73
72 2023-02-28           51.68       57.34
73 2023-03-31           51.67       57.33
74 2023-04-30           51.67       57.38
75 2023-05-31           51.69       57.39

[76 rows x 3 columns]

In [26]:
fuel.rename(columns={"Цена на бензин": "petrol_price",
                     "Цена на дт": "diesel_price"}, inplace=True)
fuel.to_csv("data_processing/fuel.csv", index=False)

### показатели рынка металлов

In [27]:
metal_market = pd.read_excel("data/Показатели рынка металла.xlsx")
metal_market

,dt,Производство арматуры Сортовой прокат_Арматура,Производство арматуры Сортовой прокат_Катанка,Производство арматуры Сортовой прокат_Прутки прочие,Производство сырья ЖРС_Агломерат,Производство сырья ЖРС_Аглоруда,Производство сырья ЖРС_Концентрат,Производство сырья ЖРС_Концентрат для дообогащения,Производство сырья ЖРС_Окатыши,Производство сырья Кокс_Кокс валовый,...,Экспорт сырья Лом_Лом стальной,Экспорт сырья Лом_Лом чугуна,Экспорт сырья Металлизованная продукция_Всего отгружено с предприятия,Экспорт сырья Металлизованная продукция_ГБЖ,Экспорт сырья Чугун_Всего отгружено с предприятия,Экспорт сырья Чугун_Литейный чугун,Экспорт сырья Чугун_Передельный чугун,Экспорт арматуры Сортовой прокат_Арматура,Экспорт арматуры Сортовой прокат_Катанка,Экспорт арматуры Сортовой прокат_Прутки прочие
0,2016-03-31,527,208,191,5127,376,9063,631,3691,2307,...,0,0,0,0,0,0,0,97,68,50
1,2016-04-30,563,231,216,4776,343,8850,608,3450,2297,...,0,0,0,0,0,0,0,118,79,55
2,2016-05-31,614,263,235,5107,420,9013,626,3849,2481,...,0,0,0,0,0,0,0,123,100,71
3,2016-06-30,659,242,237,4809,400,9275,613,3688,2372,...,0,0,0,0,0,0,0,129,78,61
4,2016-07-31,703,249,238,5147,420,9587,518,4032,2255,...,0,0,0,0,0,0,0,142,90,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2022-11-30,871,265,182,4433,502,8704,622,3885,2118,...,0,0,0,25,0,0,20,146,56,14
81,2022-12-31,928,253,248,4305,439,9171,655,4141,2034,...,0,0,0,22,0,0,36,94,72,14
82,2023-01-31,616,242,197,4296,532,8848,598,4292,2012,...,0,0,0,14,0,0,32,122,77,15
83,2023-02-28,699,286,189,4280,438,8750,607,4386,1985,...,0,0,0,20,0,10,27,141,124,13
84,2023-03-31,694,203,207,4709,479,9411,495,4444,2107,...,0,0,0,25,0,5,35,121,43,18

In [28]:
del metal_market

### макропоказатели

In [29]:
macroeconomics = pd.read_excel("data/Макропоказатели.xlsx")
macroeconomics

,dt,Базовый индекс потребительских цен на товары и услуги,Ключевая ставка,Курс доллара
0,2016-01-31,NaN,NaN,NaN
1,2016-02-29,NaN,NaN,NaN
2,2016-03-31,NaN,NaN,NaN
3,2016-04-30,NaN,NaN,NaN
4,2016-05-31,NaN,NaN,NaN
...,...,...,...,...
1667,2023-06-10,NaN,NaN,82.6417
1668,2023-06-13,NaN,7.5,NaN
1669,2023-06-14,NaN,7.5,83.6405
1670,2023-06-15,NaN,7.5,84.3249
1671,2023-06-16,NaN,7.5,83.9611

In [30]:
rename_columns = [
    "base_byers_price_index",
    "key_rate",
    "dollar_rate"
]
columns = macroeconomics.columns.drop("dt")

In [31]:
columns

Index(['Базовый индекс потребительских цен на товары и услуги',
       'Ключевая ставка', 'Курс доллара'],
      dtype='object')

In [32]:
rename_dict = {}
for old, new in zip(columns, rename_columns):
    rename_dict[old] = new
rename_dict

{'Базовый индекс потребительских цен на товары и услуги': 'base_byers_price_index',
 'Ключевая ставка': 'key_rate',
 'Курс доллара': 'dollar_rate'}

In [33]:
renamed_macroeconomics = macroeconomics.rename(columns=rename_dict)

In [34]:
renamed_macroeconomics

             dt  base_byers_price_index  key_rate  dollar_rate
0    2016-01-31                     NaN       NaN          NaN
1    2016-02-29                     NaN       NaN          NaN
2    2016-03-31                     NaN       NaN          NaN
3    2016-04-30                     NaN       NaN          NaN
4    2016-05-31                     NaN       NaN          NaN
...         ...                     ...       ...          ...
1667 2023-06-10                     NaN       NaN      82.6417
1668 2023-06-13                     NaN       7.5          NaN
1669 2023-06-14                     NaN       7.5      83.6405
1670 2023-06-15                     NaN       7.5      84.3249
1671 2023-06-16                     NaN       7.5      83.9611

[1672 rows x 4 columns]

In [35]:
renamed_macroeconomics.dtypes

dt                        datetime64[ns]
base_byers_price_index           float64
key_rate                         float64
dollar_rate                      float64
dtype: object

In [36]:
renamed_macroeconomics.to_csv("data_processing/macroeconomics.csv", index=False)

### индекс LME

### данные рынка стройматериалов

### грузоперевозки

In [37]:
transportation = pd.read_excel("data/Грузоперевозки.xlsx")
transportation

            dt  Индекс стоимости грузоперевозок
0   2017-09-06                             1000
1   2017-09-13                              991
2   2017-09-20                              992
3   2017-09-27                              979
4   2017-10-04                              985
..         ...                              ...
297 2023-05-17                             1434
298 2023-05-24                             1452
299 2023-05-31                             1487
300 2023-06-07                             1500
301 2023-06-14                             1501

[302 rows x 2 columns]

In [38]:
transportation.rename(columns={"Индекс стоимости грузоперевозок": "transportation_price_index"}, inplace=True)
transportation.to_csv("data_processing/transportation.csv", index=False)

### NLMK акции

In [39]:
mnlk_shares = pd.read_csv("data/NLMK Акции.csv")
mnlk_shares

            Date   Price    Open    High     Low    Vol. Change %
0     03/31/2023  129.32  130.60  130.60  128.36   3.54M   -0.98%
1     03/30/2023  130.60  132.30  133.44  129.80   4.85M   -0.94%
2     03/29/2023  131.84  128.00  134.44  127.10  10.37M    3.37%
3     03/28/2023  127.54  128.58  128.94  126.56   2.27M   -0.50%
4     03/27/2023  128.18  127.00  128.42  126.86   2.81M    1.33%
...          ...     ...     ...     ...     ...     ...      ...
1048  01/10/2019  154.12  153.52  154.12  152.26   1.96M    0.22%
1049  01/09/2019  153.78  150.36  154.46  150.08   4.03M    2.44%
1050  01/08/2019  150.12  150.98  151.34  149.64   3.12M   -3.57%
1051  01/04/2019  155.68  156.80  157.46  154.80   2.91M   -1.06%
1052  01/03/2019  157.34  155.86  157.34  154.80   2.90M   -0.05%

[1053 rows x 7 columns]

In [40]:
mnlk_shares.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %     object
dtype: object

In [41]:
import re
extract_numbers = lambda x: float(re.findall("[-+]?\d*\.\d+|\d+", x)[0])

In [42]:
mnlk_shares["Vol."] = mnlk_shares["Vol."].apply(extract_numbers)

In [43]:
mnlk_shares["Change %"] = mnlk_shares["Change %"].apply(extract_numbers)

In [44]:
mnlk_shares

            Date   Price    Open    High     Low   Vol.  Change %
0     03/31/2023  129.32  130.60  130.60  128.36   3.54     -0.98
1     03/30/2023  130.60  132.30  133.44  129.80   4.85     -0.94
2     03/29/2023  131.84  128.00  134.44  127.10  10.37      3.37
3     03/28/2023  127.54  128.58  128.94  126.56   2.27     -0.50
4     03/27/2023  128.18  127.00  128.42  126.86   2.81      1.33
...          ...     ...     ...     ...     ...    ...       ...
1048  01/10/2019  154.12  153.52  154.12  152.26   1.96      0.22
1049  01/09/2019  153.78  150.36  154.46  150.08   4.03      2.44
1050  01/08/2019  150.12  150.98  151.34  149.64   3.12     -3.57
1051  01/04/2019  155.68  156.80  157.46  154.80   2.91     -1.06
1052  01/03/2019  157.34  155.86  157.34  154.80   2.90     -0.05

[1053 rows x 7 columns]

In [45]:
mnlk_shares.to_csv("data_processing/NLMK_shares.csv")

### MAGN акции

In [46]:
magn_shares = pd.read_csv("data/MAGN Акции.csv")
magn_shares

            Дата   Цена  Откр.  Макс.   Мин.   Объём  Изм. %
0     31.03.2023  39,69  40,21  40,24  39,52  18,23M  -1,38%
1     30.03.2023  40,24  40,60  41,00  40,02  27,14M  -0,87%
2     29.03.2023  40,60  39,15  40,65  38,96  48,70M   3,70%
3     28.03.2023  39,15  39,45  39,75  38,91  17,02M  -0,62%
4     27.03.2023  39,40  38,99  39,48  38,92  20,95M   1,26%
...          ...    ...    ...    ...    ...     ...     ...
1048  10.01.2019  44,95  44,55  44,95  44,17   9,15M   0,33%
1049  09.01.2019  44,80  43,23  44,80  43,02  12,20M   3,80%
1050  08.01.2019  43,16  43,43  43,70  42,58   7,33M  -0,48%
1051  04.01.2019  43,37  42,98  43,62  42,80   5,64M   0,91%
1052  03.01.2019  42,98  43,17  43,30  42,55   3,59M  -0,14%

[1053 rows x 7 columns]

In [47]:
magn_shares.columns = mnlk_shares.columns
magn_shares

            Date  Price   Open   High    Low    Vol. Change %
0     31.03.2023  39,69  40,21  40,24  39,52  18,23M   -1,38%
1     30.03.2023  40,24  40,60  41,00  40,02  27,14M   -0,87%
2     29.03.2023  40,60  39,15  40,65  38,96  48,70M    3,70%
3     28.03.2023  39,15  39,45  39,75  38,91  17,02M   -0,62%
4     27.03.2023  39,40  38,99  39,48  38,92  20,95M    1,26%
...          ...    ...    ...    ...    ...     ...      ...
1048  10.01.2019  44,95  44,55  44,95  44,17   9,15M    0,33%
1049  09.01.2019  44,80  43,23  44,80  43,02  12,20M    3,80%
1050  08.01.2019  43,16  43,43  43,70  42,58   7,33M   -0,48%
1051  04.01.2019  43,37  42,98  43,62  42,80   5,64M    0,91%
1052  03.01.2019  42,98  43,17  43,30  42,55   3,59M   -0,14%

[1053 rows x 7 columns]

In [48]:
magn_shares.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [49]:
str_to_num = lambda x: x.replace(",", ".")
for col in magn_shares.columns:
    try:
        magn_shares[col] = magn_shares[col].apply(str_to_num).astype(float)
    except:
        magn_shares[col] = magn_shares[col].apply(str_to_num)
magn_shares

            Date  Price   Open   High    Low    Vol. Change %
0     31.03.2023  39.69  40.21  40.24  39.52  18.23M   -1.38%
1     30.03.2023  40.24  40.60  41.00  40.02  27.14M   -0.87%
2     29.03.2023  40.60  39.15  40.65  38.96  48.70M    3.70%
3     28.03.2023  39.15  39.45  39.75  38.91  17.02M   -0.62%
4     27.03.2023  39.40  38.99  39.48  38.92  20.95M    1.26%
...          ...    ...    ...    ...    ...     ...      ...
1048  10.01.2019  44.95  44.55  44.95  44.17   9.15M    0.33%
1049  09.01.2019  44.80  43.23  44.80  43.02  12.20M    3.80%
1050  08.01.2019  43.16  43.43  43.70  42.58   7.33M   -0.48%
1051  04.01.2019  43.37  42.98  43.62  42.80   5.64M    0.91%
1052  03.01.2019  42.98  43.17  43.30  42.55   3.59M   -0.14%

[1053 rows x 7 columns]

In [50]:
magn_shares["Vol."] = magn_shares["Vol."].apply(extract_numbers)
magn_shares["Change %"] = magn_shares["Change %"].apply(extract_numbers)
magn_shares.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.        float64
Change %    float64
dtype: object

In [51]:
magn_shares.to_csv("data_processing/MAGN_shares.csv", index=False)

### CHMF акции

In [52]:
chmf_shares = pd.read_csv("data/CHMF Акции.csv")
chmf_shares

            Date     Price      Open      High       Low     Vol. Change %
0     03/31/2023  1,043.20  1,061.00  1,061.00  1,042.00  571.72K   -1.68%
1     03/30/2023  1,061.00  1,074.60  1,084.80  1,058.00    1.30M   -1.27%
2     03/29/2023  1,074.60  1,040.60  1,078.40  1,035.40    1.79M    3.53%
3     03/28/2023  1,038.00  1,041.40  1,044.00  1,033.00  269.09K   -0.17%
4     03/27/2023  1,039.80  1,036.20  1,042.60  1,032.20  410.74K    0.50%
...          ...       ...       ...       ...       ...      ...      ...
1049  01/10/2019    970.00    972.50    973.40    958.60  725.45K   -0.27%
1050  01/09/2019    972.60    953.10    973.50    950.00    1.03M    2.09%
1051  01/08/2019    952.70    952.00    960.00    941.30  565.63K    0.32%
1052  01/04/2019    949.70    934.00    949.70    931.10  335.53K    1.66%
1053  01/03/2019    934.20    940.00    942.60    926.30  601.71K   -0.92%

[1054 rows x 7 columns]

In [53]:
chmf_shares.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [54]:
remove_comma = lambda x: x.replace(",", "")
for col in chmf_shares.columns:
    try:
        chmf_shares[col] = chmf_shares[col].apply(remove_comma).astype(float)
    except:
        chmf_shares[col] = chmf_shares[col].apply(remove_comma)

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
chmf_shares["Vol."].unique()

In [ ]:
chmf_shares.dropna(inplace=True)

In [ ]:
chmf_shares["Vol."] = chmf_shares["Vol."].astype(str).apply(extract_numbers)
chmf_shares["Change %"] = chmf_shares["Change %"].astype(str).apply(extract_numbers)
chmf_shares.dtypes

In [ ]:
chmf_shares.to_csv("data_processing/CHMF_shares.csv", index=False)