In [1]:
import pandas as pd

### цены на сырье

In [2]:
material_price = pd.read_excel("data/Цены на сырье.xlsx")
material_price

,dt,"Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС","Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т","Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС","ЖРС_Китай Iron ore fines Fe 62%, CFR","Чугун_CFR Италия, $/т","Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС","ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т",...,"Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС","Чугун_CFR Турция, $/т","ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС","ЖРС_Украинский концентрат Fe 65-68%, DAP граница Украины с Европой, $/т","ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой, $/т"
0,2015-02-09,3850,228,12344,10009,12728,62,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-02-16,3850,206,12271,10432,12852,63,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-23,3850,207,12645,11981,13034,64,NaN,3700.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-03-02,3850,214,12696,11912,12910,63,NaN,3700.0,72.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN
4,2015-03-09,4400,232,12916,12061,12964,61,NaN,4050.0,70.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2023-02-13,9500,399,25741,23774,24100,124,505.0,7500.0,136.5,...,22765.0,457.5,5043.0,4382.0,2577.0,50.0,66.0,78.0,116.0,154.0
419,2023-02-20,9500,390,25837,24060,24184,124,500.0,7500.0,137.5,...,23414.0,465.0,5043.0,4382.0,2577.0,50.0,66.0,78.0,116.0,154.0
420,2023-02-27,9500,411,25814,24275,24047,130,502.5,7500.0,143.0,...,24014.0,455.0,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0
421,2023-03-06,10000,422,25821,25347,24055,126,500.0,7500.0,139.0,...,24005.0,467.5,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0
422,2023-03-13,10000,426,26750,25313,25021,128,502.5,7500.0,141.0,...,24573.0,475.0,5547.0,4898.0,2921.0,56.0,74.0,85.0,122.0,159.0

In [7]:
columns = material_price.columns
columns.unique()

Index(['dt',
       'Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС',
       'Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т',
       'Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС',
       'ЖРС_Китай Iron ore fines Fe 62%, CFR', 'Чугун_CFR Италия, $/т',
       'Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС',
       'ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т',
       'Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС',
       'Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, FOB США Восток, $/т',
       'Лом_3А, FOB РФ Черное море, $/т', 'Чугун_FOB Бразилия Север, $/т',
       'Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, CFR ЮВА, $/т',
       'Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС',
       'Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС',
       'ГБЖ_Россия, FCA руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС',
       'Чугун_FOB Бразилия Юг, $/т',
       'ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т',
       'Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС',
       'Чугун_FOB Россия Дальневосточные порты, $/т',
       'Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС',
       'Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС',
       'Чугун_FOB Россия Черное море, $/т',
       'Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС',
       'ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС',
       'ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС',
       'Чугун_Россия, FCA руб./т, без НДС',
       'Концентрат коксующегося угля_HCC Австралия, $/t FOB',
       'ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС',
       'ГБЖ_CFR Италия, $/т',
       'Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС',
       'Чугун_CFR Западная Европа, $/т',
       'Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС',
       'Лом_HMS 1/2 80:20, CFR Турция, $/т', 'Чугун_CFR Китай, $/т',
       'Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС',
       'Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС',
       'Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС',
       'Чугун_CFR NOLA США, $/т',
       'Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС',
       'Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС',
       'Чугун_CFR Турция, $/т',
       'ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС',
       'ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС',
       'ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т',
       'ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т'],
      dtype='object')

In [4]:
for col in columns:
    print(col)

dt
Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС
Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т
Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС
Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС
Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС
ЖРС_Китай Iron ore fines Fe 62%, CFR
Чугун_CFR Италия, $/т
Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС
ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т
Лом_3А, РФ CPT авто Центральный ФО, руб./т, без НДС
Лом_3А, РФ CPT авто Уральский ФО, руб./т, без НДС
Лом_HMS 1/2 80:20, FOB США Восток, $/т
Лом_3А, FOB РФ Черное море, $/т
Чугун_FOB Бразилия Север, $/т
Лом_3А, РФ CPT авто Южный ФО, руб./т, без НДС
Лом_HMS 1/2 80:20, CFR ЮВА, $/т
Концентрат коксующегося угля_Россия марка КС FCA руб./т, без НДС
Лом_Б26 легированный (Ni 9,3%), РФ CPT, руб./т, без НДС
ГБЖ_Россия, FCA руб./т, без НДС
Лом_3А, РФ FCA ж/д респ. Татарстан, руб./т, без НДС
Чугун_FOB Бразилия Юг, $/т
ЖРС_Российский концентрат Fe 62,5-67,5%, SiO2 0,78-8,51, сухой вес, DAP Забайкальск-Манжули, $/т
Концентрат коксующегося угля_Россия марка К и смеси марок К, КО FCA руб./т, без НДС
Чугун_FOB Россия Дальневосточные порты, $/т
Кокс_Россия Урал Сибирь +25, FCA руб./т., без НДС
Лом_3А, РФ FCA ж/д Московский регион, руб./т, без НДС
Концентрат коксующегося угля_Россия марка Ж+ГЖ FCA руб./т, без НДС
Чугун_FOB Россия Черное море, $/т
Лом_3А, РФ FCA ж/д Кемеровская обл, руб./т, без НДС
ЖРС_Россия аглоруда Fe 52-60%, FCA руб./т, без НДС
ЖРС_Россия концентрат Fe 64-68%, FCA руб./т, без НДС
Чугун_Россия, FCA руб./т, без НДС
Концентрат коксующегося угля_HCC Австралия, $/t FOB
ЖРС_Россия окатыши Fe 62-65,5% FCA руб./т, без НДС
ГБЖ_CFR Италия, $/т
Лом_3А, РФ CPT ж/д Уральский ФО, руб./т, без НДС
Концентрат коксующегося угля_Россия марка Ж FCA руб./т, без НДС
Чугун_CFR Западная Европа, $/т
Лом_3А, РФ FCA ж/д Челябинская обл, руб./т, без НДС
Лом_3А, РФ FCA ж/д ХМАО, руб./т, без НДС
Лом_HMS 1/2 80:20, CFR Турция, $/т
Чугун_CFR Китай, $/т
Лом_3А, РФ FCA ж/д Самарская обл, руб./т, без НДС
Концентрат коксующегося угля_Средняя шихта Россия FCA руб./т, без НДС
Концентрат коксующегося угля_Россия марка ГЖ FCA руб./т, без НДС
Лом_3А, РФ FCA ж/д Нижегородская обл, руб./т, без НДС
Чугун_CFR NOLA США, $/т
Лом_3А, РФ FCA ж/д Новосибирская обл, руб./т, без НДС
Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС
Чугун_CFR Турция, $/т
ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС
ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС
ЖРС_Украинский концентрат Fe 65-68%,  DAP граница Украины с Европой,  $/т
ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой,  $/т

In [32]:
material_price_columns_renamed = [
    "coking_coil_russia_oc_rub_tonn_ship_fca",
    "scrap_hms_rotterdam_dollar_tonn_ship_fob",
    "scrap_3a_south_rub_tonn_train_cpt",
    "scrap_3a_siberia_rub_tonn_train_cpt",
    "scrap_3a_central_rub_tonn_train_cpt",
    "iron_china_ship_cfr",
    "cast_iron_italy_dollar_tonn_ship_cfr",
    "coking_coil_russia_ko_rub_tonn_ship_fca",
    "iron_pellets_russia_east_dollar_tonn_dap",
    "scrap_3a_russia_central_rub_tonn_auto_cpt",
    "scrap_3a_russia_ural_rub_tonn_auto_cpt",
    "scrap_hms_usa_dollar_tonn_ship_fob",
    "scrap_3a_russia_south_dollar_tonn_ship_fob",
    "cast_iron_brasil_north_dollar_tonn_ship_fob",
    "scrap_3a_russia_south_rub_tonn_auto_cpt",
    "scrap_hms_uva_dollar_tonn_ship_cfr",
    "coking_coil_russia_kc_rub_tonn_ship_fca",
    "scrap_b26_alloyed_russia_rub_tonn_ship_cpt",
    "iron_russia_rub_tonn_ship_fca",
    "scrap_3a_russia_tatar_rub_tonn_fca",
    "cast_iron_brasil_south_dollar_tonn_ship_fob",
    "iron_concentrate_russia_east_dollar_tonn_ship_dap",
    "coking_coil_k_russia_ko_rub_tonn_ship_fca",
    "cast_iron_russia_east_dollar_tonn_fob",
    "coking_coil_russia_siberia_rub_tonn_ship_fca",
    "scrap_3a_russia_moscow_rub_tonn_train_fca",
    "coking_coil_russia_rub_tonn_ship_fca",
    "cast_iron_russia_south_dollar_tonn_ship_fob",
    "scrap_3a_russia_siberia_rub_tonn_train_fca",
    "iron_agloruda_russia_rub_tonn_ship_fca",
    "iron_concentrate_russia_rub_tonn_ship_fca",
    "cast_iron_russia_rub_tonn_ship_fca",
    "coking_coil_australia_dollar_tonn_ship_fob",
    "iron_pellets_russia_rub_tonn_ship_fca",
    "iron_itally_dollar_tonn_ship_cfr",
    "scrap_3a_russia_ural_rub_tonn_ship_cpt",
    "coking_coil_russia_rub_tonn_ship_fca",
    "cast_iron_europe_dollar_tonn_ship_cfr",
    "scrap_3a_russia_ural_rub_tonn_ship_fca",
    "scrap_3a_russia_north_rub_tonn_ship_fca",
    "scrap_hms_turkey_dollar_tonn_ship_cfr",
    "cast_iron_china_dollar_tonn_ship_cfr",
    "scrap_3a_russia_central_rub_tonn_ship_fca",
    "coking_coil_average_size_russia_rub_tonn_ship_fca",
    "coking_coil_russia_rub_tonn_ship_fca",
    "scrap_3a_russia_central_rub_tonn_ship_fca",
    "cast_iron_usa_dollar_tonn_ship_cfr",
    "scrap_3a_russia_siberia_rub_tonn_ship_fca",
    "scrap_3a_russia_ural_rub_tonn_ship_fca",
    "cast_iron_turkey_dollar_tonn_ship_cfr",
    "iron_pellets_weighted_average_russia_rub_tonn_ship_fca",
    "iron_concentrate_weighted_average_russia_rub_tonn_ship_fca",
    "iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca",
    "iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca",
    "iron_concentrate_weighted_average_percent_russia_rub_tonn_ship_fca",
    "iron_pellets_weighted_average_percent_russia_rub_tonn_ship_fca",
    "iron_concentrate_ukraine_dollar_tonn_ship_dap",
    "iron_pellets_ukraine_dollar_tonn_ship_dap",
]

In [13]:
columns = columns.drop("dt")

In [33]:
material_price_to_rename: dict[str] = {}
for old, new in zip(columns, material_price_columns_renamed):
    material_price_to_rename[old] = new

In [34]:
renamed_material_price = material_price.rename(columns=material_price_to_rename)

In [53]:
renamed_material_price.columns.unique().shape

(54,)

In [46]:
renamed_material_price.columns

Index(['dt', 'coking_coil_russia_oc_rub_tonn_ship_fca',
       'scrap_hms_rotterdam_dollar_tonn_ship_fob',
       'scrap_3a_south_rub_tonn_train_cpt',
       'scrap_3a_siberia_rub_tonn_train_cpt',
       'scrap_3a_central_rub_tonn_train_cpt', 'iron_china_ship_cfr',
       'cast_iron_italy_dollar_tonn_ship_cfr',
       'coking_coil_russia_ko_rub_tonn_ship_fca',
       'iron_pellets_russia_east_dollar_tonn_dap',
       'scrap_3a_russia_central_rub_tonn_auto_cpt',
       'scrap_3a_russia_ural_rub_tonn_auto_cpt',
       'scrap_hms_usa_dollar_tonn_ship_fob',
       'scrap_3a_russia_south_dollar_tonn_ship_fob',
       'cast_iron_brasil_north_dollar_tonn_ship_fob',
       'scrap_3a_russia_south_rub_tonn_auto_cpt',
       'scrap_hms_uva_dollar_tonn_ship_cfr',
       'coking_coil_russia_kc_rub_tonn_ship_fca',
       'scrap_b26_alloyed_russia_rub_tonn_ship_cpt',
       'iron_russia_rub_tonn_ship_fca', 'scrap_3a_russia_tatar_rub_tonn_fca',
       'cast_iron_brasil_south_dollar_tonn_ship_fob',
       'iron_concentrate_russia_east_dollar_tonn_ship_dap',
       'coking_coil_k_russia_ko_rub_tonn_ship_fca',
       'cast_iron_russia_east_dollar_tonn_fob',
       'coking_coil_russia_siberia_rub_tonn_ship_fca',
       'scrap_3a_russia_moscow_rub_tonn_train_fca',
       'coking_coil_russia_rub_tonn_ship_fca',
       'cast_iron_russia_south_dollar_tonn_ship_fob',
       'scrap_3a_russia_siberia_rub_tonn_train_fca',
       'iron_agloruda_russia_rub_tonn_ship_fca',
       'iron_concentrate_russia_rub_tonn_ship_fca',
       'cast_iron_russia_rub_tonn_ship_fca',
       'coking_coil_australia_dollar_tonn_ship_fob',
       'iron_pellets_russia_rub_tonn_ship_fca',
       'iron_itally_dollar_tonn_ship_cfr',
       'scrap_3a_russia_ural_rub_tonn_ship_cpt',
       'coking_coil_russia_rub_tonn_ship_fca',
       'cast_iron_europe_dollar_tonn_ship_cfr',
       'scrap_3a_russia_ural_rub_tonn_ship_fca',
       'scrap_3a_russia_north_rub_tonn_ship_fca',
       'scrap_hms_turkey_dollar_tonn_ship_cfr',
       'cast_iron_china_dollar_tonn_ship_cfr',
       'scrap_3a_russia_central_rub_tonn_ship_fca',
       'coking_coil_average_size_russia_rub_tonn_ship_fca',
       'coking_coil_russia_rub_tonn_ship_fca',
       'scrap_3a_russia_central_rub_tonn_ship_fca',
       'cast_iron_usa_dollar_tonn_ship_cfr',
       'scrap_3a_russia_siberia_rub_tonn_ship_fca',
       'scrap_3a_russia_ural_rub_tonn_ship_fca',
       'cast_iron_turkey_dollar_tonn_ship_cfr',
       'iron_pellets_weighted_average_russia_rub_tonn_ship_fca',
       'iron_concentrate_weighted_average_russia_rub_tonn_ship_fca',
       'iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca',
       'iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca',
       'iron_concentrate_weighted_average_percent_russia_rub_tonn_ship_fca',
       'iron_pellets_weighted_average_percent_russia_rub_tonn_ship_fca',
       'iron_concentrate_ukraine_dollar_tonn_ship_dap',
       'iron_pellets_ukraine_dollar_tonn_ship_dap'],
      dtype='object')

In [54]:
material_categories = [
    "cast_iron_",
    "coking_coil_",
    "iron_",
    "scrap_"
]

cast_iron = list({str(col) for col in renamed_material_price.columns.tolist() if str(col).startswith(material_categories[0])})
cast_iron.append("dt")
coking_coil = list({str(col) for col in renamed_material_price.columns.tolist() if str(col).startswith(material_categories[1])})
coking_coil.append("dt")
iron = list({str(col) for col in renamed_material_price.columns.tolist() if str(col).startswith(material_categories[2])})
iron.append("dt")
scrap = list({str(col) for col in renamed_material_price.columns.tolist() if str(col).startswith(material_categories[3])})
scrap.append("dt")
print(len(set(cast_iron) & set(renamed_material_price.columns.tolist())))
print(len(set(coking_coil) & set(renamed_material_price.columns.tolist())))
print(len(set(iron) & set(renamed_material_price.columns.tolist())))
print(len(set(scrap) & set(renamed_material_price.columns.tolist())))

11
9
16
21

In [55]:
cast_iron_data = renamed_material_price[cast_iron]
coking_coil_data = renamed_material_price[coking_coil]
iron_data = renamed_material_price[iron]
scrap_data = renamed_material_price[scrap]

In [60]:
cast_iron_data

,cast_iron_europe_dollar_tonn_ship_cfr,cast_iron_brasil_south_dollar_tonn_ship_fob,cast_iron_russia_rub_tonn_ship_fca,cast_iron_turkey_dollar_tonn_ship_cfr,cast_iron_russia_south_dollar_tonn_ship_fob,cast_iron_italy_dollar_tonn_ship_cfr,cast_iron_usa_dollar_tonn_ship_cfr,cast_iron_russia_east_dollar_tonn_fob,cast_iron_brasil_north_dollar_tonn_ship_fob,cast_iron_china_dollar_tonn_ship_cfr,dt
0,NaN,NaN,21250,NaN,297,NaN,NaN,NaN,338,NaN,2015-02-09
1,NaN,NaN,21250,NaN,278,NaN,NaN,NaN,308,NaN,2015-02-16
2,NaN,NaN,21250,NaN,265,NaN,NaN,NaN,295,NaN,2015-02-23
3,NaN,NaN,21250,NaN,265,NaN,NaN,NaN,295,NaN,2015-03-02
4,NaN,NaN,15250,NaN,265,NaN,NaN,NaN,275,NaN,2015-03-09
...,...,...,...,...,...,...,...,...,...,...,...
418,535.0,490.0,24000,457.5,415,505.0,516.0,488.0,500,445.0,2023-02-13
419,550.0,495.0,24000,465.0,423,500.0,525.0,410.0,505,447.5,2023-02-20
420,552.5,500.0,24000,455.0,423,502.5,532.5,450.0,510,455.0,2023-02-27
421,552.5,505.0,25500,467.5,430,500.0,550.0,450.0,520,447.5,2023-03-06
422,555.0,520.0,25500,475.0,452,502.5,555.0,480.0,530,447.5,2023-03-13

In [59]:
coking_coil_data

,coking_coil_russia_kc_rub_tonn_ship_fca,coking_coil_k_russia_ko_rub_tonn_ship_fca,coking_coil_russia_rub_tonn_ship_fca,coking_coil_russia_rub_tonn_ship_fca,coking_coil_russia_rub_tonn_ship_fca,coking_coil_australia_dollar_tonn_ship_fob,coking_coil_average_size_russia_rub_tonn_ship_fca,coking_coil_russia_siberia_rub_tonn_ship_fca,coking_coil_russia_oc_rub_tonn_ship_fca,coking_coil_russia_ko_rub_tonn_ship_fca,dt
0,3300,4500,4300,4700.0,3350.0,106,3890,6900,3850,3700.0,2015-02-09
1,3300,4500,4300,4700.0,3350.0,106,3890,6900,3850,3700.0,2015-02-16
2,3300,4500,4300,4700.0,3350.0,103,3890,6900,3850,3700.0,2015-02-23
3,3300,4500,4300,4700.0,3350.0,103,3890,6900,3850,3700.0,2015-03-02
4,3750,4700,4100,4700.0,3525.0,103,4164,8750,4400,4050.0,2015-03-09
...,...,...,...,...,...,...,...,...,...,...,...
418,7750,11250,8850,10200.0,7500.0,352,9010,17500,9500,7500.0,2023-02-13
419,7750,11250,8850,10200.0,7500.0,367,9010,17500,9500,7500.0,2023-02-20
420,7750,11250,8850,10200.0,7500.0,362,9010,17500,9500,7500.0,2023-02-27
421,8000,11250,8850,10200.0,7500.0,348,9090,18750,10000,7500.0,2023-03-06
422,8000,11250,8850,10200.0,7500.0,354,9090,18750,10000,7500.0,2023-03-13

In [51]:
iron_data

,iron_concentrate_ukraine_dollar_tonn_ship_dap,iron_pellets_russia_east_dollar_tonn_dap,iron_concentrate_weighted_average_percent_russia_rub_tonn_ship_fca,iron_pellets_weighted_average_percent_russia_rub_tonn_ship_fca,iron_concentrate_russia_rub_tonn_ship_fca,iron_china_ship_cfr,iron_concentrate_russia_east_dollar_tonn_ship_dap,iron_itally_dollar_tonn_ship_cfr,iron_pellets_ukraine_dollar_tonn_ship_dap,iron_pellets_weighted_average_russia_rub_tonn_ship_fca,iron_concentrate_weighted_average_russia_rub_tonn_ship_fca,iron_pellets_russia_rub_tonn_ship_fca,iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca,iron_agloruda_weighted_average_percent_russia_rub_tonn_ship_fca,iron_agloruda_russia_rub_tonn_ship_fca,iron_russia_rub_tonn_ship_fca
0,NaN,70.0,NaN,NaN,2275.0,62,51.0,NaN,NaN,NaN,NaN,3450.0,NaN,NaN,1325.0,NaN
1,NaN,70.0,NaN,NaN,2275.0,63,51.0,NaN,NaN,NaN,NaN,3450.0,NaN,NaN,1325.0,NaN
2,NaN,72.0,NaN,NaN,2275.0,64,53.0,NaN,NaN,NaN,NaN,3450.0,NaN,NaN,1325.0,NaN
3,NaN,72.0,NaN,NaN,2275.0,63,53.0,NaN,NaN,3540.0,2097.0,3450.0,1261.0,23.0,1325.0,NaN
4,NaN,70.0,NaN,NaN,2425.0,61,51.0,NaN,NaN,3540.0,2097.0,3500.0,1261.0,23.0,1345.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,116.0,136.5,66.0,78.0,4787.5,124,113.5,421.5,154.0,5043.0,4382.0,5625.0,2577.0,50.0,2950.0,16340.0
419,116.0,137.5,66.0,78.0,4787.5,124,113.5,418.0,154.0,5043.0,4382.0,5625.0,2577.0,50.0,2950.0,16340.0
420,122.0,143.0,74.0,85.0,4787.5,130,119.5,438.5,159.0,5547.0,4898.0,5625.0,2921.0,56.0,2950.0,16340.0
421,122.0,139.0,74.0,85.0,5037.5,126,115.5,453.5,159.0,5547.0,4898.0,6350.0,2921.0,56.0,3125.0,18190.0
422,122.0,141.0,74.0,85.0,5037.5,128,117.5,460.0,159.0,5547.0,4898.0,6350.0,2921.0,56.0,3125.0,18190.0

In [58]:
scrap_data

,scrap_3a_siberia_rub_tonn_train_cpt,scrap_hms_turkey_dollar_tonn_ship_cfr,scrap_3a_russia_moscow_rub_tonn_train_fca,scrap_3a_russia_ural_rub_tonn_ship_cpt,scrap_3a_south_rub_tonn_train_cpt,scrap_3a_russia_south_rub_tonn_auto_cpt,scrap_hms_rotterdam_dollar_tonn_ship_fob,scrap_3a_russia_central_rub_tonn_ship_fca,scrap_3a_russia_central_rub_tonn_ship_fca,scrap_3a_russia_ural_rub_tonn_auto_cpt,...,scrap_3a_russia_tatar_rub_tonn_fca,scrap_3a_russia_south_dollar_tonn_ship_fob,scrap_3a_russia_ural_rub_tonn_ship_fca,scrap_3a_russia_ural_rub_tonn_ship_fca,scrap_3a_russia_siberia_rub_tonn_ship_fca,scrap_3a_russia_north_rub_tonn_ship_fca,scrap_3a_russia_central_rub_tonn_auto_cpt,scrap_hms_uva_dollar_tonn_ship_cfr,scrap_b26_alloyed_russia_rub_tonn_ship_cpt,dt
0,10009,246,11870,11598,12344,NaN,228,NaN,NaN,NaN,...,11573,221,NaN,NaN,NaN,NaN,NaN,248,NaN,2015-02-09
1,10432,243,12088,11794,12271,NaN,206,NaN,NaN,NaN,...,11746,213,NaN,NaN,NaN,NaN,NaN,248,NaN,2015-02-16
2,11981,241,12503,12047,12645,NaN,207,NaN,NaN,NaN,...,11930,208,NaN,NaN,NaN,NaN,NaN,248,NaN,2015-02-23
3,11912,249,12439,12253,12696,NaN,214,NaN,NaN,NaN,...,12100,215,NaN,NaN,NaN,NaN,NaN,248,NaN,2015-03-02
4,12061,257,12020,12183,12916,NaN,232,NaN,NaN,NaN,...,11774,221,NaN,NaN,NaN,NaN,NaN,248,NaN,2015-03-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,23774,428,22058,24807,25741,22050.0,399,21844.0,22009.0,23500.0,...,22626,363,23160.0,22765.0,19331.0,20439.0,22600.0,446,100000.0,2023-02-13
419,24060,419,22134,25635,25837,22050.0,390,21703.0,22716.0,24300.0,...,23297,354,24038.0,23414.0,21256.0,21181.0,22550.0,443,102000.0,2023-02-20
420,24275,440,22039,26010,25814,22050.0,411,21665.0,22608.0,23750.0,...,23404,375,24193.0,24014.0,21599.0,21552.0,22400.0,443,102000.0,2023-02-27
421,25347,452,22056,26555,25821,23500.0,422,22054.0,22618.0,24250.0,...,24078,387,24310.0,24005.0,22101.0,21794.0,22450.0,448,100000.0,2023-03-06
422,25313,458,23004,27052,26750,23900.0,426,22832.0,23093.0,24500.0,...,24550,393,24926.0,24573.0,22392.0,22434.0,23350.0,453,100000.0,2023-03-13

In [63]:
iron_data.to_csv("data_processing/iron_prices.csv", index=False)
cast_iron_data.to_csv("data_processing/cast_iron_prices.csv", index=False)
coking_coil_data.to_csv("data_processing/coking_coil_prices.csv", index=False)
scrap_data.to_csv("data_processing/scrap_data_prices.csv", index=False)

#### working with prices in rubles and dollars

### топливо

In [4]:
fuel = pd.read_excel("data/Топливо.xlsx")
fuel

           dt  Цена на бензин  Цена на дт
0  2017-02-28           35.91       36.15
1  2017-03-31           36.11       36.58
2  2017-04-30           36.41       36.69
3  2017-05-31           36.64       36.80
4  2017-06-30           36.91       36.87
..        ...             ...         ...
71 2023-01-31           51.65       56.73
72 2023-02-28           51.68       57.34
73 2023-03-31           51.67       57.33
74 2023-04-30           51.67       57.38
75 2023-05-31           51.69       57.39

[76 rows x 3 columns]

In [5]:
fuel.rename(columns={"Цена на бензин": "petrol_price",
                     "Цена на дт": "diesel_price"}, inplace=True)
fuel.to_csv("data_processing/fuel.csv", index=False)

### показатели рынка металлов

In [4]:
metal_market = pd.read_excel("data/Показатели рынка металла.xlsx")
metal_market

,dt,Производство арматуры Сортовой прокат_Арматура,Производство арматуры Сортовой прокат_Катанка,Производство арматуры Сортовой прокат_Прутки прочие,Производство сырья ЖРС_Агломерат,Производство сырья ЖРС_Аглоруда,Производство сырья ЖРС_Концентрат,Производство сырья ЖРС_Концентрат для дообогащения,Производство сырья ЖРС_Окатыши,Производство сырья Кокс_Кокс валовый,...,Экспорт сырья Лом_Лом стальной,Экспорт сырья Лом_Лом чугуна,Экспорт сырья Металлизованная продукция_Всего отгружено с предприятия,Экспорт сырья Металлизованная продукция_ГБЖ,Экспорт сырья Чугун_Всего отгружено с предприятия,Экспорт сырья Чугун_Литейный чугун,Экспорт сырья Чугун_Передельный чугун,Экспорт арматуры Сортовой прокат_Арматура,Экспорт арматуры Сортовой прокат_Катанка,Экспорт арматуры Сортовой прокат_Прутки прочие
0,2016-03-31,527,208,191,5127,376,9063,631,3691,2307,...,0,0,0,0,0,0,0,97,68,50
1,2016-04-30,563,231,216,4776,343,8850,608,3450,2297,...,0,0,0,0,0,0,0,118,79,55
2,2016-05-31,614,263,235,5107,420,9013,626,3849,2481,...,0,0,0,0,0,0,0,123,100,71
3,2016-06-30,659,242,237,4809,400,9275,613,3688,2372,...,0,0,0,0,0,0,0,129,78,61
4,2016-07-31,703,249,238,5147,420,9587,518,4032,2255,...,0,0,0,0,0,0,0,142,90,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2022-11-30,871,265,182,4433,502,8704,622,3885,2118,...,0,0,0,25,0,0,20,146,56,14
81,2022-12-31,928,253,248,4305,439,9171,655,4141,2034,...,0,0,0,22,0,0,36,94,72,14
82,2023-01-31,616,242,197,4296,532,8848,598,4292,2012,...,0,0,0,14,0,0,32,122,77,15
83,2023-02-28,699,286,189,4280,438,8750,607,4386,1985,...,0,0,0,20,0,10,27,141,124,13
84,2023-03-31,694,203,207,4709,479,9411,495,4444,2107,...,0,0,0,25,0,5,35,121,43,18

In [5]:
del metal_market

### макропоказатели

In [6]:
macroeconomics = pd.read_excel("data/Макропоказатели.xlsx")
macroeconomics

,dt,Базовый индекс потребительских цен на товары и услуги,Ключевая ставка,Курс доллара
0,2016-01-31,NaN,NaN,NaN
1,2016-02-29,NaN,NaN,NaN
2,2016-03-31,NaN,NaN,NaN
3,2016-04-30,NaN,NaN,NaN
4,2016-05-31,NaN,NaN,NaN
...,...,...,...,...
1667,2023-06-10,NaN,NaN,82.6417
1668,2023-06-13,NaN,7.5,NaN
1669,2023-06-14,NaN,7.5,83.6405
1670,2023-06-15,NaN,7.5,84.3249
1671,2023-06-16,NaN,7.5,83.9611

In [10]:
rename_columns = [
    "base_byers_price_index",
    "key_rate",
    "dollar_rate"
]
columns = macroeconomics.columns.drop("dt")

In [11]:
columns

Index(['Базовый индекс потребительских цен на товары и услуги',
       'Ключевая ставка', 'Курс доллара'],
      dtype='object')

In [14]:
rename_dict = {}
for old, new in zip(columns, rename_columns):
    rename_dict[old] = new
rename_dict

{'Базовый индекс потребительских цен на товары и услуги': 'base_byers_price_index',
 'Ключевая ставка': 'key_rate',
 'Курс доллара': 'dollar_rate'}

In [16]:
renamed_macroeconomics = macroeconomics.rename(columns=rename_dict)

In [17]:
renamed_macroeconomics

             dt  base_byers_price_index  key_rate  dollar_rate
0    2016-01-31                     NaN       NaN          NaN
1    2016-02-29                     NaN       NaN          NaN
2    2016-03-31                     NaN       NaN          NaN
3    2016-04-30                     NaN       NaN          NaN
4    2016-05-31                     NaN       NaN          NaN
...         ...                     ...       ...          ...
1667 2023-06-10                     NaN       NaN      82.6417
1668 2023-06-13                     NaN       7.5          NaN
1669 2023-06-14                     NaN       7.5      83.6405
1670 2023-06-15                     NaN       7.5      84.3249
1671 2023-06-16                     NaN       7.5      83.9611

[1672 rows x 4 columns]

In [18]:
renamed_macroeconomics.dtypes

dt                        datetime64[ns]
base_byers_price_index           float64
key_rate                         float64
dollar_rate                      float64
dtype: object

In [19]:
renamed_macroeconomics.to_csv("data_processing/macroeconomics.csv", index=False)

### индекс LME

### данные рынка стройматериалов

### грузоперевозки

In [2]:
transportation = pd.read_excel("data/Грузоперевозки.xlsx")
transportation

            dt  Индекс стоимости грузоперевозок
0   2017-09-06                             1000
1   2017-09-13                              991
2   2017-09-20                              992
3   2017-09-27                              979
4   2017-10-04                              985
..         ...                              ...
297 2023-05-17                             1434
298 2023-05-24                             1452
299 2023-05-31                             1487
300 2023-06-07                             1500
301 2023-06-14                             1501

[302 rows x 2 columns]

In [3]:
transportation.rename(columns={"Индекс стоимости грузоперевозок": "transportation_price_index"}, inplace=True)
transportation.to_csv("data_processing/transportation.csv", index=False)

### NLMK акции

In [19]:
mnlk_shares = pd.read_csv("data/NLMK Акции.csv")
mnlk_shares

            Date   Price    Open    High     Low    Vol. Change %
0     03/31/2023  129.32  130.60  130.60  128.36   3.54M   -0.98%
1     03/30/2023  130.60  132.30  133.44  129.80   4.85M   -0.94%
2     03/29/2023  131.84  128.00  134.44  127.10  10.37M    3.37%
3     03/28/2023  127.54  128.58  128.94  126.56   2.27M   -0.50%
4     03/27/2023  128.18  127.00  128.42  126.86   2.81M    1.33%
...          ...     ...     ...     ...     ...     ...      ...
1048  01/10/2019  154.12  153.52  154.12  152.26   1.96M    0.22%
1049  01/09/2019  153.78  150.36  154.46  150.08   4.03M    2.44%
1050  01/08/2019  150.12  150.98  151.34  149.64   3.12M   -3.57%
1051  01/04/2019  155.68  156.80  157.46  154.80   2.91M   -1.06%
1052  01/03/2019  157.34  155.86  157.34  154.80   2.90M   -0.05%

[1053 rows x 7 columns]

In [12]:
mnlk_shares.dtypes

Price       float64
Open        float64
High        float64
Low         float64
Vol.        float64
Change %     object
dtype: object

In [10]:
import re
extract_numbers = lambda x: float(re.findall("[-+]?\d*\.\d+|\d+", x)[0])

In [11]:
mnlk_shares["Vol."] = mnlk_shares["Vol."].apply(extract_numbers)

In [13]:
mnlk_shares["Change %"] = mnlk_shares["Change %"].apply(extract_numbers)

In [14]:
mnlk_shares

             Price    Open    High     Low   Vol.  Change %
Date
03/31/2023  129.32  130.60  130.60  128.36   3.54     -0.98
03/30/2023  130.60  132.30  133.44  129.80   4.85     -0.94
03/29/2023  131.84  128.00  134.44  127.10  10.37      3.37
03/28/2023  127.54  128.58  128.94  126.56   2.27     -0.50
03/27/2023  128.18  127.00  128.42  126.86   2.81      1.33
...            ...     ...     ...     ...    ...       ...
01/10/2019  154.12  153.52  154.12  152.26   1.96      0.22
01/09/2019  153.78  150.36  154.46  150.08   4.03      2.44
01/08/2019  150.12  150.98  151.34  149.64   3.12     -3.57
01/04/2019  155.68  156.80  157.46  154.80   2.91     -1.06
01/03/2019  157.34  155.86  157.34  154.80   2.90     -0.05

[1053 rows x 6 columns]

In [15]:
mnlk_shares.to_csv("data_processing/NLMK_shares.csv")

### MAGN акции

In [25]:
magn_shares = pd.read_csv("data/MAGN Акции.csv")
magn_shares

            Дата   Цена  Откр.  Макс.   Мин.   Объём  Изм. %
0     31.03.2023  39,69  40,21  40,24  39,52  18,23M  -1,38%
1     30.03.2023  40,24  40,60  41,00  40,02  27,14M  -0,87%
2     29.03.2023  40,60  39,15  40,65  38,96  48,70M   3,70%
3     28.03.2023  39,15  39,45  39,75  38,91  17,02M  -0,62%
4     27.03.2023  39,40  38,99  39,48  38,92  20,95M   1,26%
...          ...    ...    ...    ...    ...     ...     ...
1048  10.01.2019  44,95  44,55  44,95  44,17   9,15M   0,33%
1049  09.01.2019  44,80  43,23  44,80  43,02  12,20M   3,80%
1050  08.01.2019  43,16  43,43  43,70  42,58   7,33M  -0,48%
1051  04.01.2019  43,37  42,98  43,62  42,80   5,64M   0,91%
1052  03.01.2019  42,98  43,17  43,30  42,55   3,59M  -0,14%

[1053 rows x 7 columns]

In [26]:
magn_shares.columns = mnlk_shares.columns
magn_shares

            Date  Price   Open   High    Low    Vol. Change %
0     31.03.2023  39,69  40,21  40,24  39,52  18,23M   -1,38%
1     30.03.2023  40,24  40,60  41,00  40,02  27,14M   -0,87%
2     29.03.2023  40,60  39,15  40,65  38,96  48,70M    3,70%
3     28.03.2023  39,15  39,45  39,75  38,91  17,02M   -0,62%
4     27.03.2023  39,40  38,99  39,48  38,92  20,95M    1,26%
...          ...    ...    ...    ...    ...     ...      ...
1048  10.01.2019  44,95  44,55  44,95  44,17   9,15M    0,33%
1049  09.01.2019  44,80  43,23  44,80  43,02  12,20M    3,80%
1050  08.01.2019  43,16  43,43  43,70  42,58   7,33M   -0,48%
1051  04.01.2019  43,37  42,98  43,62  42,80   5,64M    0,91%
1052  03.01.2019  42,98  43,17  43,30  42,55   3,59M   -0,14%

[1053 rows x 7 columns]

In [27]:
magn_shares.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [28]:
str_to_num = lambda x: x.replace(",", ".")
for col in magn_shares.columns:
    try:
        magn_shares[col] = magn_shares[col].apply(str_to_num).astype(float)
    except:
        magn_shares[col] = magn_shares[col].apply(str_to_num)
magn_shares

            Date  Price   Open   High    Low    Vol. Change %
0     31.03.2023  39.69  40.21  40.24  39.52  18.23M   -1.38%
1     30.03.2023  40.24  40.60  41.00  40.02  27.14M   -0.87%
2     29.03.2023  40.60  39.15  40.65  38.96  48.70M    3.70%
3     28.03.2023  39.15  39.45  39.75  38.91  17.02M   -0.62%
4     27.03.2023  39.40  38.99  39.48  38.92  20.95M    1.26%
...          ...    ...    ...    ...    ...     ...      ...
1048  10.01.2019  44.95  44.55  44.95  44.17   9.15M    0.33%
1049  09.01.2019  44.80  43.23  44.80  43.02  12.20M    3.80%
1050  08.01.2019  43.16  43.43  43.70  42.58   7.33M   -0.48%
1051  04.01.2019  43.37  42.98  43.62  42.80   5.64M    0.91%
1052  03.01.2019  42.98  43.17  43.30  42.55   3.59M   -0.14%

[1053 rows x 7 columns]

In [29]:
magn_shares["Vol."] = magn_shares["Vol."].apply(extract_numbers)
magn_shares["Change %"] = magn_shares["Change %"].apply(extract_numbers)
magn_shares.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.        float64
Change %    float64
dtype: object

In [31]:
magn_shares.to_csv("data_processing/MAGN_shares.csv", index=False)

### CHMF акции

In [32]:
chmf_shares = pd.read_csv("data/CHMF Акции.csv")
chmf_shares

            Date     Price      Open      High       Low     Vol. Change %
0     03/31/2023  1,043.20  1,061.00  1,061.00  1,042.00  571.72K   -1.68%
1     03/30/2023  1,061.00  1,074.60  1,084.80  1,058.00    1.30M   -1.27%
2     03/29/2023  1,074.60  1,040.60  1,078.40  1,035.40    1.79M    3.53%
3     03/28/2023  1,038.00  1,041.40  1,044.00  1,033.00  269.09K   -0.17%
4     03/27/2023  1,039.80  1,036.20  1,042.60  1,032.20  410.74K    0.50%
...          ...       ...       ...       ...       ...      ...      ...
1049  01/10/2019    970.00    972.50    973.40    958.60  725.45K   -0.27%
1050  01/09/2019    972.60    953.10    973.50    950.00    1.03M    2.09%
1051  01/08/2019    952.70    952.00    960.00    941.30  565.63K    0.32%
1052  01/04/2019    949.70    934.00    949.70    931.10  335.53K    1.66%
1053  01/03/2019    934.20    940.00    942.60    926.30  601.71K   -0.92%

[1054 rows x 7 columns]

In [37]:
chmf_shares.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %     object
dtype: object

In [34]:
remove_comma = lambda x: x.replace(",", "")
for col in chmf_shares.columns:
    try:
        chmf_shares[col] = chmf_shares[col].apply(remove_comma).astype(float)
    except:
        chmf_shares[col] = chmf_shares[col].apply(remove_comma)

AttributeError: 'float' object has no attribute 'replace'

In [38]:
chmf_shares["Vol."].unique()

array(['571.72K', '1.30M', '1.79M', '269.09K', '410.74K', '360.85K',
       '289.63K', '415.70K', '618.43K', '897.83K', '671.77K', '856.84K',
       '844.08K', '554.68K', '723.20K', '637.77K', '437.91K', '519.46K',
       '683.46K', '400.02K', '1.09M', '647.38K', '1.03M', '1.12M',
       '993.88K', '1.38M', '714.83K', '622.29K', '985.56K', '1.48M',
       '926.91K', '724.12K', '894.15K', '1.63M', '1.36M', '1.74M',
       '1.51M', '1.43M', '1.86M', '1.66M', '998.96K', '688.13K',
       '488.94K', '306.49K', '444.43K', '442.75K', '333.78K', '574.34K',
       '382.66K', '506.54K', '663.91K', '784.45K', '330.22K', '415.68K',
       '422.41K', '403.57K', '835.93K', '328.17K', '297.18K', '369.93K',
       '358.18K', '652.37K', '327.86K', '694.90K', '588.57K', '644.35K',
       '469.74K', '884.41K', '1.06M', '1.33M', '804.16K', '611.74K',
       '1.47M', '1.02M', '528.63K', '715.62K', '432.93K', '253.96K',
       '349.68K', '487.17K', '282.57K', '328.96K', '230.88K', '271.41K',
       '241.50K', '411.67K', '511.37K', '579.23K', '360.21K', '335.82K',
       '343.88K', '548.17K', '883.47K', '649.31K', '483.96K', '1.10M',
       '1.55M', '1.21M', '579.03K', '861.12K', '1.68M', '2.40M', '1.65M',
       '900.73K', '2.02M', '1.27M', '1.13M', '1.69M', '2.17M', '324.23K',
       '481.75K', '891.18K', '768.83K', '496.87K', '403.89K', '829.32K',
       '629.94K', '816.40K', '1.44M', '1.01M', '552.86K', '851.63K',
       '1.78M', '816.48K', '730.89K', '967.64K', '1.26M', '335.18K',
       '389.70K', '630.76K', '576.11K', '442.49K', '624.53K', '489.10K',
       '546.51K', '645.33K', '1.35M', '793.86K', '806.25K', '436.95K',
       '735.14K', '772.51K', '758.04K', '167.46K', '301.82K', '277.27K',
       '275.31K', '255.55K', '310.36K', '244.82K', '465.31K', '612.00K',
       '422.71K', '310.78K', '578.83K', '425.10K', '686.74K', '529.46K',
       '667.56K', '421.87K', '741.88K', '583.95K', '1.07M', '652.10K',
       '1.19M', '692.55K', '801.23K', '690.10K', '811.69K', '543.88K',
       '355.02K', '564.69K', '353.34K', '581.53K', '541.47K', '297.26K',
       '229.77K', '346.11K', '389.15K', '634.59K', '440.13K', '824.58K',
       '1.25M', '1.16M', '636.37K', '591.47K', '925.68K', '870.47K',
       '1.32M', '699.38K', '804.02K', '557.77K', '563.64K', '718.36K',
       '957.64K', '1.94M', '1.70M', '4.19M', '11.74M', '3.70M', '468.89K',
       '405.05K', '482.17K', '358.44K', '399.67K', '298.03K', '697.35K',
       '397.14K', '318.25K', '283.21K', '400.26K', '213.98K', '283.54K',
       '257.61K', '289.58K', '304.63K', '172.99K', '207.89K', '302.05K',
       '292.13K', '362.51K', '342.23K', '405.59K', '236.75K', '406.83K',
       '567.42K', '712.46K', '539.46K', '271.58K', '421.50K', '375.01K',
       '337.36K', '712.41K', '650.82K', '365.48K', '713.26K', '852.42K',
       '1.08M', '1.17M', '448.62K', '700.14K', '606.03K', '577.92K',
       '2.67M', nan, '2.06M', '7.25M', '4.80M', '5.51M', '2.99M', '2.26M',
       '1.04M', '3.24M', '1.87M', '2.13M', '1.54M', '1.20M', '1.39M',
       '1.42M', '1.28M', '2.15M', '1.73M', '1.52M', '3.72M', '2.30M',
       '1.15M', '1.67M', '840.07K', '1.00M', '941.33K', '562.49K',
       '755.21K', '515.50K', '455.40K', '863.01K', '1.05M', '560.75K',
       '462.77K', '936.11K', '884.19K', '1.58M', '2.35M', '2.12M',
       '2.07M', '1.53M', '1.22M', '1.41M', '3.06M', '807.20K', '438.71K',
       '882.05K', '1.97M', '1.56M', '1.14M', '717.43K', '708.59K',
       '894.13K', '996.54K', '703.63K', '976.34K', '1.95M', '973.34K',
       '1.72M', '1.64M', '2.55M', '3.64M', '1.46M', '1.24M', '2.29M',
       '2.25M', '2.43M', '2.45M', '2.21M', '1.80M', '985.72K', '1.93M',
       '1.83M', '2.33M', '1.89M', '1.34M', '807.91K', '720.51K',
       '951.08K', '2.10M', '2.49M', '2.96M', '1.31M', '1.37M', '764.14K',
       '648.92K', '876.97K', '764.83K', '1.29M', '1.18M', '813.26K',
       '755.50K', '757.92K', '2.54M', '985.47K', '1.57M', '1.50M',
       '2.82M', '2.59M', '2.04M', '1.88M', '990.29K', '691.63K', '1.59M',
       '1.92M', '3.65M', '5.66M', '895.21K', '2.34M', '2.14M', '2.24M',
       '2.28M', '878.80K', '666.41K', '754.54K', '1.77M', '857.12K',
       '2.39M', '803.09K', '2.22M', '3.73M', '3.60M', '2.57M', '3.58M',
       '2.48M', '837.25K', '767.91K', '537.78K', '2.18M', '2.36M',
       '1.76M', '743.68K', '999.90K', '1.90M', '2.11M', '1.11M', '2.51M',
       '234.89K', '984.72K', '961.94K', '945.93K', '940.53K', '880.35K',
       '982.82K', '527.06K', '823.48K', '785.97K', '822.35K', '929.47K',
       '2.84M', '840.83K', '999.39K', '891.47K', '857.77K', '4.11M',
       '3.03M', '3.21M', '1.49M', '974.90K', '840.55K', '417.25K',
       '802.33K', '888.52K', '971.94K', '930.61K', '925.50K', '896.97K',
       '1.45M', '767.48K', '659.38K', '655.97K', '459.36K', '609.25K',
       '551.67K', '677.64K', '732.30K', '573.28K', '458.06K', '705.28K',
       '784.59K', '743.74K', '867.39K', '516.44K', '581.41K', '852.71K',
       '883.20K', '701.35K', '800.94K', '879.99K', '950.03K', '784.89K',
       '1.61M', '924.28K', '550.44K', '789.47K', '638.08K', '722.66K',
       '524.03K', '764.91K', '827.75K', '745.40K', '936.33K', '795.84K',
       '795.99K', '629.90K', '706.72K', '672.61K', '990.90K', '871.55K',
       '897.87K', '612.62K', '902.84K', '886.69K', '750.44K', '427.08K',
       '646.19K', '839.69K', '896.83K', '572.65K', '621.31K', '501.24K',
       '869.80K', '1.60M', '896.41K', '655.64K', '872.22K', '1.23M',
       '753.46K', '1.81M', '2.37M', '697.05K', '991.60K', '968.63K',
       '1.98M', '2.00M', '1.40M', '992.74K', '519.53K', '819.54K',
       '542.25K', '881.38K', '897.34K', '996.43K', '996.90K', '605.61K',
       '954.62K', '512.52K', '309.05K', '814.79K', '2.01M', '2.20M',
       '1.91M', '2.19M', '3.04M', '3.27M', '4.37M', '1.71M', '1.96M',
       '3.89M', '2.32M', '1.85M', '835.02K', '514.46K', '508.96K',
       '623.63K', '956.25K', '850.35K', '913.19K', '1.99M', '727.44K',
       '629.79K', '729.69K', '534.85K', '987.73K', '771.92K', '461.42K',
       '677.14K', '737.79K', '572.09K', '477.44K', '692.38K', '262.21K',
       '185.21K', '388.53K', '581.72K', '567.19K', '917.98K', '958.76K',
       '775.75K', '627.74K', '992.26K', '965.42K', '838.13K', '798.35K',
       '886.85K', '1.62M', '631.55K', '975.29K', '2.42M', '693.82K',
       '983.00K', '968.68K', '512.30K', '673.77K', '818.04K', '978.84K',
       '807.54K', '878.75K', '681.74K', '712.85K', '910.20K', '870.52K',
       '926.75K', '400.37K', '618.92K', '714.38K', '496.61K', '792.84K',
       '695.70K', '606.05K', '819.61K', '923.51K', '342.33K', '398.38K',
       '552.71K', '264.59K', '544.64K', '691.96K', '573.47K', '458.36K',
       '352.92K', '594.13K', '865.87K', '274.57K', '609.95K', '423.67K',
       '761.94K', '744.58K', '699.81K', '423.77K', '607.71K', '605.41K',
       '568.66K', '607.12K', '829.64K', '641.65K', '736.68K', '437.88K',
       '691.69K', '300.14K', '467.01K', '781.84K', '718.82K', '484.93K',
       '625.64K', '661.31K', '382.42K', '920.35K', '697.69K', '680.75K',
       '709.70K', '629.58K', '163.49K', '627.49K', '617.20K', '988.21K',
       '924.11K', '718.24K', '651.32K', '704.80K', '738.68K', '896.28K',
       '782.78K', '429.32K', '773.82K', '464.39K', '852.05K', '421.52K',
       '582.55K', '364.55K', '545.11K', '576.82K', '567.70K', '904.50K',
       '186.69K', '207.31K', '473.09K', '778.05K', '521.03K', '448.56K',
       '592.89K', '465.00K', '865.74K', '717.16K', '410.90K', '308.91K',
       '558.29K', '750.10K', '575.60K', '626.23K', '752.28K', '733.45K',
       '306.48K', '275.95K', '424.93K', '401.80K', '595.96K', '649.02K',
       '2.08M', '452.15K', '572.05K', '436.49K', '343.64K', '365.55K',
       '433.88K', '815.17K', '445.48K', '776.03K', '508.44K', '530.15K',
       '929.28K', '464.41K', '622.77K', '696.29K', '340.96K', '373.28K',
       '436.54K', '847.19K', '830.64K', '499.62K', '731.29K', '460.57K',
       '755.92K', '935.56K', '952.44K', '491.12K', '438.97K', '675.03K',
       '953.22K', '414.11K', '416.31K', '273.22K', '425.58K', '656.13K',
       '510.33K', '550.38K', '557.87K', '709.80K', '725.45K', '565.63K',
       '335.53K', '601.71K'], dtype=object)

In [41]:
chmf_shares.dropna(inplace=True)

In [42]:
chmf_shares["Vol."] = chmf_shares["Vol."].astype(str).apply(extract_numbers)
chmf_shares["Change %"] = chmf_shares["Change %"].astype(str).apply(extract_numbers)
chmf_shares.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.        float64
Change %    float64
dtype: object

In [43]:
chmf_shares.to_csv("data_processing/CHMF_shares.csv", index=False)